@site        : 'default';
@reset       : 'default';

@button      : 'basic';
@container   : 'basic';
@divider     : 'basic';
@flag        : 'basic';
@header      : 'basic';
@icon        : 'basic';
@image       : 'basic';
@input       : 'basic';
@label       : 'basic';
@list        : 'basic';
@loader      : 'basic';
@placeholder : 'basic';
@rail        : 'basic';
@reveal      : 'basic';
@segment     : 'basic';
@step        : 'basic';

@breadcrumb  : 'basic';
@form        : 'basic';
@grid        : 'basic';
@menu        : 'basic';
@message     : 'basic';
@table       : 'basic';

@accordion   : 'basic';
@checkbox    : 'basic';
@dimmer      : 'basic';
@dropdown    : 'basic';
@embed       : 'basic';
@modal       : 'basic';
@nag         : 'basic';
@popup       : 'basic';
@progress    : 'basic';
@rating      : 'basic';
@search      : 'basic';
@shape       : 'basic';
@sidebar     : 'basic';
@sticky      : 'basic';
@tab         : 'basic';
@transition  : 'basic';

@ad          : 'basic';
@card        : 'basic';
@comment     : 'basic';
@feed        : 'basic';
@item        : 'basic';
@statistic   : 'basic';

@themesFolder : '~semantic-ui-less/themes';

@siteFolder  : 'site';


@import (multiple) "~semantic-ui-less/theme.less";

@fontPath : '~semantic-ui-less/themes/@{theme}/assets/fonts';

/* @import (multiple) "~@eeacms/search-less/theme.less"; */

