@import "bootstrap/variables.less";
@import "variables.less";

.vendor-prefix(@prop; @val) {
  @{prop}: @val;
  -ms-@{prop}: @val;
  -moz-@{prop}: @val;
  -webkit-@{prop}: @val;
  -o-@{prop}: @val;
}

// National descriptor edit assessment data
div.crt-def {
  width: 200px;
  float: right;
}

span.infobox-popover {
    background-color: lightblue;
    display: inline-block !important;
    border-radius: 5px;
    padding: 1px 3px;
    margin: 1px;
    font-size: 14px;
  }

#assessment-edit-infobox {
  display: none;
  position: fixed;
  top: 11px;
  z-index: 9999;
  right: 170px !important;
  left: auto !important;

  .info-item {
    background-color: orange;
    border-radius: 5px;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin: 1px 2px;
    padding: 2px 5px;
  }

  .infobox-icon {
    font-size: 20px;
    float: right;
    display: block;
  }
}

#comp-national-descriptor {
  .assessment-form-input {
    width: 80%;
  }

  .subform {
    padding: 1.5em 0;

    &.disabled {
      .body .left {
        // background-color: #ddd;

        .select2-chosen, textarea {
          cursor: not-allowed !important;
        }
      }

      h4 {
        background-color: #AAA;
      }
    }

    label {
      display: inline-block;
      width: 10em;
      text-align: right;
      padding-right: 0.7em;
      font-size: 13px;
    }

    .assessment-form-input {
      margin: auto;
      width: 100%;
    }

    .subform-title {
      font-family: "RobotoM";
      font-size: 13px;
      color: #002d54;
      border-bottom: 1px solid #ddd;
      padding-bottom: 1rem;
      margin: 0;

      >span:first-child {
        font-size: 16px;
        font-family: "PoppinsSemiB";
        max-width: 80%;
        display: inline-block;
      }

      .help-popover {
        color: #002d54;
        position: relative;
        top: 3px;
        cursor: pointer;
      }

      .popover {
        color: black;
      }
    }

    h5 {
      font-weight: 600;
      background: #ccc;
      padding: 1rem;
      color: white;
      margin-bottom: 0;
      .vendor-prefix(text-shadow; 1px 1px 2px #aaa);
    }

    .body {
      display:flex;
      background-color: #eee;
      border-radius: 5px;
      padding: 1.5em;

      .right.discussion:hover {
        position: relative;

        .textline {
          display: flex;
        }

        .comm-hide {
          // position: absolute;
          float: right;
          display: flex;
        }
      }

      .right {
        padding-top: 0;
        padding-bottom: 0;
        background-color: white;
        margin-left: 1em;
        border-radius: 5px;
      }

      .right.discussion {
        width: 25%;
        flex-grow: 2;
        display: flex;
        flex-direction: column;
        clear: right;

        &.inactive {
          max-width: 50px;

          .comments:hover{
            background-color: #EEE;
            cursor: pointer;
          }

          .comments {
            background-color: #DDD;

            * {
              display: none;
            }
          }

          .textline {
            display: none;
          }

          .comm-hide {
            display: none;
          }
        }

        &.disc-ec {
          background-color: #debdcb;
        }

        .comments-header {
          width: 100%;
          background-color: #fff;
          z-index: 2;
          padding: 0.5em;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }

        .comm-hide {
          color: #29a2d9;
          cursor: pointer;
          font-size: 20px;
          position: initial;
          display: none;
        }

        .comments {
          flex-grow: 2;
          overflow: auto;
          padding: 2em 1em 1em 1em;
          display: flex;
          flex-direction: column-reverse;

          .process-state {
            display: none;

            &.active {
              display: list-item;
              font-size: 13px;
            }
          }

          .comms {
            position: relative;
            display: none;

            &.active {
              display: list-item;
            }
          }
          .comm-del {
            position: absolute;
            top: 5px;
            right: 0;
            cursor: pointer;
          }
        }

        .textline {
          position: initial;
          right: 3px;
          bottom: 0px;
          padding-top: 0.4rem;
          display: none;
          flex-shrink: 0;
          border-top: 1px solid #ddd;

          textarea {
            margin-right: 0.4rem;
            font-family: inherit;
          }
        }

        .comments-history {
          margin-left: 0;
          position: relative;
          padding-left: 0;
          font-size: 14px;
          font-family: "RobotoR";

          li {
            list-style-type: none;
            margin-top: 0.5em;
          }

          li.accordion:last-child {
            margin-bottom: 1em;
          }

          .accordion {
            background-color: #eee;
            color: #444;
            cursor: pointer;
            padding: 0.5em;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 14px;
            transition: 0.4s;
            box-shadow: none;

            &.active:after {
              content: "\2212";
            }
          }

          .accordion:after {
            content: '\002B';
            color: #777;
            font-weight: bold;
            float: right;
            margin-left: 5px;
          }

          .comment {
            color: #fff;
            background: #86BB71;
            padding: 0.7rem 1rem;
            border-radius: 3px;
            display: inline-block;
            position: relative;
            overflow: auto;
            font-size: 14px;
          }

          .comment:after {
            bottom: 100%;
            left: 1.5em;
            border: solid #0000;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-bottom-color: #86BB71;
            border-width: 10px;
            margin-left: -10px;
          }

          .comment-name {
            margin-bottom: 0.5em;
            display: inline-block;
            font-size: 15px;
            font-family: "RobotoM";
          }

          .comment-time {
            color: rgba(0, 0, 0, 0.4);
            padding-left: 6px;
            font-size: 12px;
          }

          .no-comments {
            position: absolute;
            bottom: 2em;
            left: 50%;
            transform: translate(-50%,-50%);
            font-style: italic;
            color: #a8aab1;
            text-align: center;

            i {
              display: block;
              font-size: 25px;
            }
          }

        }
        .textline {
          textarea {
            height: 4em;
            resize: none;
            overflow: auto;
            outline: none;
            padding: 0.5em 1em;
            min-height: auto;
            color: #676767;
            border: none;
            box-shadow: none;
          }

          textarea:focus {
            outline: none !important;
            border: none;
          }

          .btn {
            height: 33px;
            margin-top: 9px;
            margin: auto;
            position: relative;
            margin-right: 1em;
          }
        }

      }

      .left {
        width: 60%;
        float: left;

        .fields-container {
          padding-top: 3rem;
          display: flex;
          flex-wrap: wrap;

          .flex-select {
            flex: 0 50%;
          }

          .flex-select:nth-child(odd) {
            padding-right: 1em;
          }

          .flex-textarea {
            flex: 0 100%;
            margin-top: 2.5rem;
          }

          div.widget {
            display: block;
          }

          label {
            text-align: left;
            width: auto;
          }

          .assessment-form-input {
            width: 100%;

            textarea {
              height: 10em;
            }
          }
        }
      }
    }

    .body:after {
      content: '';
      visibility: hidden;
      display: block;
      height: 0;
      clear: both;
    }

  }

  .fixed-save-btn {
    position: fixed;
    top: 11px;
    right: 80px;
    z-index: 999;

    .formControls {
      border-top: none;
      background: transparent;
      padding: 0;
      box-shadow: none;
    }
  }
}


@media only screen and (max-width: 1400px) {
  .fields-container {
    display: block!important;
    padding: 1rem!important;

    .field {
      margin-bottom: 0!important;
    }

    .flex-select {
      flex: none!important;
      padding-right: 0!important;
    }

    .flex-textarea {
      margin-top: 0!important;
    }
  }

}
