@import "bootstrap/variables.less";
@import "variables.less";

.vendor-prefix(@prop; @val) {
  @{prop}: @val;
  -ms-@{prop}: @val;
  -moz-@{prop}: @val;
  -webkit-@{prop}: @val;
  -o-@{prop}: @val;
}

// National descriptor edit assessment data
div.crt-def {
  width: 200px;
  float: right;
}

span.infobox-popover {
    background-color: lightblue;
    display: inline-block !important;
    border-radius: 5px;
    padding: 1px 3px;
    margin: 1px;
    font-size: 14px;
  }

#assessment-edit-infobox {
  display: none;
  max-width: 60%;
  position: fixed;
  top: 3px;
  z-index: 999;

  .info-item {
    background-color: orange;
    border-radius: 5px;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin: 1px 2px;
    padding: 2px 5px;
  }
}

#comp-national-descriptor {
  .assessment-form-input {
    width: 80%;
  }

  .subform {
    .vendor-prefix(border-radius; 4px);
    border: 1px solid white;

    &.disabled {
      .body .left {
        background-color: #ddd;

        .select2-chosen, textarea {
          cursor: not-allowed !important;
        }
      }

      h4 {
        background-color: #AAA;
      }
    }

    label {
      display: inline-block;
      width: 10em;
      text-align: right;
      padding-right: 0.7em;
    }

    .assessment-form-input {
      margin: auto;
      width: 100%;
    }

    .subform-title {
      font-family: "RobotoM";
      font-size: 15px;
      padding: 1rem;
      color: white;
      margin: 0;
      background-color: #3791b9;

      .help-popover {
        padding-right: 1rem;
        color: white;
      }

      .popover {
        color: black;
      }
    }

    h5 {
      font-weight: 600;
      background: #ccc;
      padding: 1rem;
      color: white;
      margin-bottom: 0;
      .vendor-prefix(text-shadow; 1px 1px 2px #aaa);
    }

    .body {
      margin-bottom: 1%;
      display:flex;

      .right.discussion:hover {
        position: relative;

        .textline {
          //position: absolute;
          display: flex;
        }
        .comm-hide {
          position: absolute;
          display:flex;
        }
      }

      .right {
        background: #ebf5e0;
        padding: 10px;
      }

      .right.discussion {
        // background-image: linear-gradient(to right, #999, #DDD 1.2%);
        width: 25%;
        // float: right;
        flex-grow: 2;
        display: flex;
        flex-direction: column;
        clear: right;

        &.inactive {
          max-width: 50px;

          .comments:hover{
            background-color: #EEE;
            cursor: pointer;
          }

          .comments {
            background-color: #DDD;

            * {
              display: none;
            }
          }
          .textline {
            display: none;
          }
          .comm-hide {
            display: none;
          }
        }

        &.disc-ec {
          background-color: #debdcb;
        }

        .comm-hide {
          background-color: white;
          color: #29a2d9;
          cursor: pointer;
          font-size: 22px;
          position: initial;
          display: none;
          right: 0;
          top: 0;
        }
        .comments {
          background-color: white;
          flex-grow: 2;
          overflow: auto;
          border: 1px solid #CCC;
          padding: 1em 0.5em;
          display: flex;
          flex-direction: column-reverse;

          .process-state {
            display: none;

            &.active {
              display: list-item;
            }
          }

          .comms {
            position: relative;
            display: none;

            &.active {
              display: list-item;
            }
          }
          .comm-del {
            position: absolute;
            top: 5px;
            right: 0;
            cursor: pointer;
          }
        }

        .textline {
          position: initial;
          right: 3px;
          bottom: 0px;
          padding-top: 0.4rem;
          display: none;
          flex-shrink: 0;
          //width: 99%;

          textarea {
            margin-right: 0.4rem;
            font-family: inherit;
          }
        }

        .comments-history {
          margin-left: 0;
          position: relative;

          li {
            list-style-type: none;
            margin-top: 1em;
          }

          li.accordion:last-child {
            margin-bottom: 1em;
          }

          .accordion {
            background-color: #eee;
            color: #444;
            cursor: pointer;
            padding: 0.5em;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            transition: 0.4s;

            &.active:after {
              content: "\2212";
            }
          }

          .accordion:after {
            content: '\002B';
            color: #777;
            font-weight: bold;
            float: right;
            margin-left: 5px;
          }

          .comment {
            color: #fff;
            background: #86BB71;
            padding: 10px 20px 10px 15px;
            font-size: 14px;
            border-radius: 7px;
            margin-top: 0.5em;
            display: inline-block;
            position: relative;
            //max-width: 12em;
            font-size: smaller;
            overflow: auto;
          }

          .comment:after {
            bottom: 100%;
            left: 1.5em;
            border: solid #0000;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-bottom-color: #86BB71;
            border-width: 10px;
            margin-left: -10px;
          }

          .comment-name {
            margin-bottom: 0.5em;
            display: inline-block;
          }

          .comment-time {
            color: #a8aab1;
            padding-left: 6px;
          }

          .no-comments {
            position: absolute;
            bottom: 2em;
            left: 50%;
            transform: translate(-50%,-50%);
            font-style: italic;
            color: #a8aab1;
            text-align: center;

            i {
              display: block;
              font-size: 25px;
            }
          }

        }
        .textline {
          textarea {
            height: 5em;
            resize: none;
            overflow: auto;
            //border-radius: 25px;
            outline: none;
            padding: 0.2em 0.5em;
            font-size: 1em;
            color: #676767;
            border: solid 1px #a6e1fb;
            flex-grow: 1;
            margin-top: 5px;
          }

          textarea:focus {
            outline: none !important;
            border: solid 1px #29a2d9;
            background-color: #fff;
          }

          .btn {
            height: 33px;
            margin-top: 9px;
            margin: auto;
          }
        }

      }

      .left {
        // flex-grow: 2;
        width: 60%;
        float: left;
        background-color: #a6e1fb;

        .fields-container {
          padding: 1rem 1rem 0 1rem;
          display: flex;
          flex-wrap: wrap;

          .flex-select {
            flex: 0 50%;
          }

          .flex-select:nth-child(odd) {
            padding-right: 1em;
          }

          .flex-textarea {
            flex: 0 100%;
            margin-top: 1em;
          }

          div.widget {
            display: block;
          }

          label {
            text-align: left;
            width: auto;
          }

          .assessment-form-input {
            width: 100%;

            textarea {
              height: 10em;
            }
          }
        }
      }
    }

    .body:after {
      content: '';
      visibility: hidden;
      display: block;
      height: 0;
      clear: both;
    }

  }

  .fixed-save-btn {
    position: fixed;
    top: 0;
    right: 70px;
    padding: 1em;
    z-index: 99;

    .formControls {
      border-top: none;
      background: transparent;
      padding: 0;
      box-shadow: none;
    }
  }
}
