@import 'bootstrap/variables.less';
@import 'variables.less';

// Color definitions for extra colored buttons
@btn-warning-2-bg: #ffca00;
@btn-warning-2-border: darken(@btn-warning-2-bg, 5%);
@btn-success-2-bg: #2d826e;
@btn-success-2-border: darken(@btn-success-2-bg, 5%);

.vendor-prefix(@prop; @val) {
  @{prop}: @val;
  -ms-@{prop}: @val;
  -moz-@{prop}: @val;
  -webkit-@{prop}: @val;
  -o-@{prop}: @val;
}

.container {
  max-width: 100% !important;
}

h1 {
  margin: 2.5rem 0 3rem 0 !important;
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 3rem !important;
  margin-bottom: 2rem !important;
}

p,
div > ul,
div > ol {
  font-family: 'RobotoL';
  font-size: 18px;
}

label {
  font-family: 'RobotoM';
  font-weight: normal !important;
}

b,
strong {
  font-family: 'RobotoB';
  font-weight: normal;
}

#content textarea {
  width: 100%;
  font: 85% Monaco, 'Courier New', Courier, monospace;
}

#form-buttons-save {
  display: inline-block;
  border: 1px solid transparent;
  border-color: @btn-primary-border;
  margin-bottom: 0;
  background-color: @btn-primary-bg;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-weight: @btn-font-weight;
  text-align: center;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

body.plone-toolbar-left-default {
  #report-data-navigation .sticky {
    left: 60px;
    width: calc(~'100% - 60px');
  }
}

body.plone-toolbar-left-expanded {
  #report-data-navigation .sticky {
    left: 120px;
    width: calc(~'100% - 120px');
  }
}

.form-right-side {
  .formControls {
    padding-left: 0;
    border: none;
  }
}
// generic fixes, should be temporary. This fixes the really long breadcrumbs
.content-page .main-content {
  margin-top: 4em !important;
}

.start-page-content {
  img {
    width: 95%;
  }
}

.glyphicon.glyphicon-share-alt {
  transform: scaleX(-1);
}

#main-container .pat-select2 {
  min-width: 400px;
}

.msfd-search-wrapper {
  > .row {
    > .col-md-3 {
      display: none;
    }

    > .col-md-9 {
      width: 100%;
    }
  }
}

.center-section {
  width: 100%;
  border: none;
}

#right-sidebar {
  height: 100%;
  border-left: 1px solid #ddd;

  ul {
    padding-left: 1.2rem;
    list-style-type: none;
  }
}

.fullwidth {
  .container {
    width: 100% !important;
    max-width: 100%;
    padding: 0 2em;
  }

  .main-content {
    box-shadow: none !important;
  }

  .side-section {
    display: none;
  }
}

.plone-modal {
  table {
    display: block;
    overflow: auto;
    max-width: 100% !important;
  }
}

#content-container,
.msfd-search-wrapper {
  table {
    font-size: 15px;

    ol,
    ul {
      padding-left: 0;
      font-family: inherit;
      font-size: inherit;
    }

    th {
      font-family: 'RobotoM';
      font-weight: normal;
    }
  }

  .table-striped {
    border: none;

    th,
    td {
      border: none;
    }

    tbody tr:nth-of-type(odd) {
      background-color: #f1f1f1;
    }

    tbody tr:nth-of-type(even) {
      background-color: white;
    }

    thead {
      background-color: #aaa !important;

      th {
        border: none;
        color: white !important;
      }
    }
  }
}

.scroll-wrapper.fixed-scroll {
  position: fixed !important;
  z-index: 9;
  right: 0;
  bottom: 0 !important;
  left: 0;
  padding: 10px 16px;
  background-color: #0071b3;

  .glyphicon.glyphicon-th {
    position: absolute;
    top: 8px;
    display: none;
    color: #fff;
    font-size: 22px;
  }

  .top-scroll {
    background: white;
    overflow-x: auto;

    div {
      height: 1px;
    }
  }
}

.side-by-side-table .scroll-wrapper.fixed-scroll {
  right: auto !important;
  left: auto !important;
  width: 49% !important;
}

.side-by-side-table {
  .fixed-table-wrapper {
    width: 49.8% !important;

    .fixed-table-inner {
      margin-left: 50px !important;
    }
  }
}

.side-by-side-table-right {
  .fixed-table-wrapper {
    z-index: 999 !important;
    right: initial !important;
    left: initial !important;

    .reset-pins {
      left: 10px !important;
    }

    .fixed-table-inner {
      margin-left: 133px !important;

      table {
        margin-left: 0px;
      }

      th {
        left: 0px !important;
      }
    }
  }
}

.overflow-table.sticky-overflow-header {
  &.hidden-fixed-table {
    .fixed-table-wrapper {
      display: none;
    }
  }

  .reset-pins {
    display: none !important;
  }

  .fixed-table-inner {
    margin-bottom: 0;
    background: white;
    overflow-x: auto;
    overflow-y: visible;

    table {
      margin-bottom: 0;

      th {
        text-align: center;
        vertical-align: middle;
      }
    }
  }
}

.fixed-table.table-sticky-first-col {
  th {
    background-color: inherit;
  }
}

.table-sticky-first-col {
  tr {
    th.sticky-col {
      position: sticky;
      z-index: 3;
      left: -1px;
      min-width: 170px;
      box-shadow: 2px 0 0 white;
      background-color: inherit;
      //box-shadow: 2px 0 0 #ddd;
    }
  }
}

.table-homepage-assessments {
  td:not(first-of-type) {
    min-width: 330px;
  }
}

.table-homepage-reports {
  td:not(first-of-type) {
    min-width: 360px;
  }
}

.table-homepage-assessments,
.table-homepage-reports {
  tr:nth-child(odd) {
    th {
      background-color: #f9f9f9;
    }
  }

  tr:nth-child(even) {
    th {
      background-color: white;
    }
  }
}

.assessment-read-more {
  position: relative;
  top: -3.5px;
  display: inline-block;
  padding: 0.1em 0.5em;
  margin: 0 2em;
  background-color: #fff;
  border-radius: 15px;
  color: #002d54;
  cursor: pointer;
  font-family: 'RobotoM';
  font-size: 0.6em;
  font-weight: normal;
  text-align: center;
}

.assessment-module-header,
.tr-assessment-module-header div {
  padding: 0.1em 1em;
  margin: 1em -0.7em;
  background-color: #002d54;
  color: white;
  font-size: 1.5em;
}

.tr-assessment-module-header {
  background-color: white !important;

  td {
    padding: 0;
  }

  div {
    margin: 1em -1.1em;
  }
}

.assessment-dd-list {
  display: none;
}

.assessment-dd-list-5,
.assessment-dd-list {
  ul {
    list-style-type: square;
  }
}

.table-country-start {
  tbody {
    .region-title {
      //font-weight: bold;
      min-width: 10em;
      border: none;
      background-color: white !important;
      box-shadow: none !important;
      color: #002d54;
      font-size: 20px;

      td,
      th {
        padding-top: 1em;
        border: none;
        background-color: white;
        text-align: left;
      }
    }

    .article-title {
      th,
      td {
        background-color: #aaa;
        color: white;
        text-align: center;
      }
    }

    tr {
      th:first-of-type {
        width: 180px;
      }

      &.fullwidth-statusbar {
        td {
          a {
            width: 100%;
          }
        }
      }
    }
  }
}

.visible-xs {
  clear: both;
}

em {
  border-bottom: 1px dotted #ccc;
  cursor: help;
  font-style: normal;
}

div.widget {
  display: flex;
}

div.subform-refresh {
  width: 20em;
  padding: 1em;
  margin: 1em 0 1em 1em;
  background-color: #ccc;
  float: right;
}

.kssattr-formname-edit-assessment-summary,
.wise-search-form-container {
  .formControls {
    margin: 0;
  }
}

h4.process-phase-title {
  margin-top: 0;
  font-style: italic;
}

// Country national descriptors overview
.cursor-wait {
  * {
    cursor: wait;
  }
}

.assessment-status-wrapper {
  display: flex;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 0.5em 2em;

  .assessment-status-processstate {
    position: absolute;
    z-index: 2;
    top: -3px;
    right: 1em;
    right: 8px;
    padding: 6px;
    background-color: #dff1c3;
    border-bottom-left-radius: 10px;
    cursor: help;
    float: right;
    font-size: 14px !important;

    .buttons-wrapper {
      display: none;
      padding: 5px 0 1px 0;
      border-top: 1px solid #aaa;
    }

    .process-state {
      display: none;
      width: 100%;
      margin-bottom: 8px;

      .phase-selector {
        width: 250px;
        margin-top: 3px;
        margin-bottom: 3px;
      }

      .select2-container {
        min-width: 200px !important;
      }

      .close-button {
        padding: 2px;
        float: right;
        font-size: 14px;
      }
    }

    &.active {
      border-bottom-left-radius: 0;
      cursor: default;

      .process-state {
        display: block;
      }

      .buttons-wrapper {
        display: block;
      }
    }
  }
}

.assessment-status-container2 {
  display: inline-flex;
  justify-content: center;

  ul {
    margin: 0 !important;
  }

  li {
    position: relative;
    width: 4em;
    padding: 2px;
    margin-left: -4px;
    color: #aaa;
    float: left;
    font-size: 10px;
    list-style-type: none !important;
    text-align: center;
  }

  li:before {
    position: relative;
    z-index: 1;
    display: block;
    width: 30px;
    height: 30px;
    border: 2px solid #ddd;
    margin: 0 auto 5px auto;
    background-color: #eee;
    border-radius: 50%;
    color: #bbb;
    content: '';
    line-height: 27px;
    text-align: center;
  }

  li:after {
    position: absolute;
    z-index: 0;
    top: 16px;
    left: -50%;
    width: 100%;
    height: 2px;
    background-color: #ddd;
    content: '';
  }

  li:first-child:after {
    content: none;
  }

  li.active {
    font-weight: bold;

    &.danger {
      color: @btn-danger-border;

      &:before {
        border-color: @btn-danger-border;
        background-color: @btn-danger-bg;
      }

      &:after {
        background-color: @btn-danger-bg;
      }

      + li:after {
        background-color: @btn-danger-bg;
      }
    }

    &.default {
      @default-color: #555;
      color: @default-color;

      &:before {
        border-color: @default-color;
        background-color: @btn-default-bg;
      }

      &:after {
        background-color: @default-color;
      }

      + li:after {
        background-color: @default-color;
      }
    }

    &.warning {
      color: @btn-warning-border;

      &:before {
        border-color: @btn-warning-border;
        background-color: @btn-warning-bg;
      }

      &:after {
        background-color: @btn-warning-bg;
      }

      + li:after {
        background-color: @btn-warning-bg;
      }
    }

    &.warning-2 {
      color: @btn-warning-2-border;

      &:before {
        border-color: @btn-warning-2-border;
        background-color: @btn-warning-2-bg;
      }

      &:after {
        background-color: @btn-warning-2-bg;
      }

      + li:after {
        background-color: @btn-warning-2-bg;
      }
    }

    &.primary {
      color: @btn-primary-border;

      &:before {
        border-color: @btn-primary-border;
        background-color: @btn-primary-bg;
      }

      &:after {
        background-color: @btn-primary-bg;
      }

      + li:after {
        background-color: @btn-primary-bg;
      }
    }

    &.success {
      color: @btn-success-border;

      &:before {
        border-color: @btn-success-border;
        background-color: @btn-success-bg;
      }

      &:after {
        background-color: @btn-success-bg;
      }

      + li:after {
        background-color: @btn-success-bg;
      }
    }

    &.success-2 {
      color: @btn-success-2-border;

      &:before {
        border-color: @btn-success-2-border;
        background-color: @btn-success-2-bg;
      }

      &:after {
        background-color: @btn-success-2-bg;
      }

      + li:after {
        background-color: @btn-success-2-bg;
      }
    }
  }

  li.finished {
    color: #555;

    &:before {
      border: 2px solid #bbb;
      background-color: #ccc;
      color: #444;
      font-family: FontAwesome;
      font-size: 14px;
      font-weight: lighter;
    }

    &:after {
      background-color: #bbb;
    }
  }
}

.assessment-status-colorbar {
  text-align: center;
}

.assessment-status-td {
  position: relative;
  text-align: center;

  &.regional {
    .assessment-status-wrapper {
      width: 400px;  
    }
  }

  .assessment-status-wrapper {
    display: none;
    width: 350px;
    flex-direction: column;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    .assessment-status-processstate {
      top: 3px;
      right: 3px;
      padding: 7px;

      .pat-select2 {
        min-width: 250px !important;
      }
    }
  }
  &:hover {
    .assessment-status-wrapper {
      display: flex;
    }
  }
}

.process-state-phase-form {
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 2em;
  background-color: #dff1c3;
  line-height: 2em;

  .process-state {
    display: inline-block;

    .phase-selector {
      margin-left: 3em;
      float: right;

      .select2-container {
        margin-bottom: 0;
      }
    }
  }

  .send-to-tl {
    display: inline-block;
    //float: right;
  }
}

.btn.process-status {
  width: 100%;
  text-align: left;
}

div.as-table-overview blockquote {
  padding-left: 1em;
  margin: 0.6em 0 0 0;
  font-size: 80%;
}

span.has-new-comments {
  margin-left: 5px;
  cursor: help;
  float: right;
  font-size: 18px;
}

// Custom colored buttons for process states
.btn-warning-2 {
  border: solid 1px @btn-warning-2-border;
  background-color: @btn-warning-2-bg;
  color: #fff;

  &:hover {
    background-color: @btn-warning-2-border;
    color: #fff !important;
  }
}

.btn-success-2 {
  border: solid 1px @btn-success-2-border;
  background-color: @btn-success-2-bg;
  color: #fff;

  &:hover {
    background-color: @btn-success-2-border;
    color: #fff !important;
  }
}

// Assessment overview
// nat-desc-art-view.pt
#nat-desc-art-menu {
  ul {
    display: flex;
    padding-left: 0;
    margin-left: 0 !important;

    li {
      display: flex;
      align-items: center;
      padding: 1em;
      margin-right: 1em;
      background-color: #d3f3f9;
      font-size: 15px;

      a {
        font-family: 'RobotoM';
      }

      .glyphicon {
        font-family: 'Glyphicons Halflings';
      }
    }

    .process-state {
      background-color: #dff1c3;

      .select2-container {
        margin: 0;
        margin-left: 1em;
      }
    }
  }

  .glyphicon-th {
    margin-left: 10px;
  }
}

.table.table-condensed.assessment-data-table.clone {
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;

  .fixed-left {
    visibility: visible;
  }

  .fixed-center {
    width: 0px;
    visibility: hidden;

    .gescomp:not(:first-child) {
      display: none !important;
    }

    &.subform {
      visibility: visible;
    }
  }

  .fixed-right {
    z-index: 999;
    visibility: visible;
  }
}

#container-assessment-data-2018,
#container-assessment-data-2012 {
  position: relative;

  .table-wrap {
    z-index: 0;
    overflow: auto;
    overflow-y: hidden;
  }

  td {
    &.fixed-center {
      padding: 0px;
      border: none;

      div.assessment-summary {
        min-height: 20px;
        padding: 1px 30px 1px 5px;
      }

      div.gescomp {
        display: table-cell;
        width: 2000px;
        //min-width: 100px;
        padding: 5px;
        margin-right: -3px;

        label {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 0;
        }
      }
    }

    &.fixed-right {
      width: 150px;
      min-width: 150px;
      text-align: center;
      vertical-align: middle;
    }
  }

  .form-assessment-summary {
    padding: 5px;
    border-top: 1px solid #ccc;
  }

  .overall-headers,
  .overall-values {
    height: 100%;
    padding: 0px;

    &.fixed-right {
      vertical-align: top;
    }

    div.as-value {
      display: flex;
      overflow: hidden;
      width: 100%;
      min-height: 55px;
      align-items: center;
      justify-content: center;
      padding: 1px 5px;
    }
  }
}

#container-assessment-data-2012 {
  .overall-headers {
    div {
      height: 76px;
      border: 0px;
      border-bottom: 1px solid #ccc;
      background-color: #eee;
      color: #333;
    }
  }
}

.overview-assessment-section table.assessment-data-table div.gescomp.as-value {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: #1d1d1d;
  text-align: center;
}

.ast-header-data table.assessment-data-table,
.overview-assessment-section table.assessment-data-table {
  td,
  div.gescomp,
  .overall-values div.as-value,
  .overall-headers div.as-value {
    min-width: 4em;
    height: 2rem;
    // border: none;
    background-color: #fff;

    &.as-score {
      text-align: right;
    }

    // &.as-value-0 { background-color: #eee !important; }     // not completed
    // &.as-value-1 { background-color: #a2b971 !important; }  // very good
    // &.as-value-2 { background-color: #d4dfbc !important; }  // good
    // &.as-value-3 { background-color: #c74040 !important; }  // not reported
    // &.as-value-4 { background-color: #ffb6b6 !important; }  // poor
    // &.as-value-5 { background-color: #ff6d6d !important; }  // very poor
    // &.as-value-6 { background-color: #b8d1e0 !important; }  // not clear
    // &.as-value-7 { background-color: #fafafa !important; }  // not relevant
    // &.as-value-05 { background-color: #d85d5d !important; }
    // &.as-value-15 { background-color: #ea8b8b !important; }
    // &.as-value-25 { background-color: #ffee99 !important; }
    // &.as-value-35 { background-color: #bace8f !important; }

    &.as-value-0 {
      background-color: #eee !important;
    } // not completed
    &.as-value-1 {
      background-color: Rgb(0, 180, 0) !important;
    } // very good
    &.as-value-2 {
      background-color: Rgb(150, 235, 150) !important;
    } // good
    &.as-value-3 {
      background-color: Rgb(255, 90, 90) !important;
    } // not reported
    &.as-value-4 {
      background-color: Rgb(255, 204, 153) !important;
    } // poor
    &.as-value-5 {
      background-color: Rgb(255, 150, 150) !important;
    } // very poor
    &.as-value-6 {
      background-color: #b8d1e0 !important;
    } // not clear
    &.as-value-7 {
      background-color: Rgb(221, 221, 221) !important;
    } // not relevant
    &.as-value-05 {
      background-color: #d85d5d !important;
    }

    &.as-value-15 {
      background-color: Rgb(255, 204, 204) !important;
    }

    &.as-value-25 {
      background-color: Rgb(204, 255, 204) !important;
    }

    &.as-value-35 {
      background-color: #bace8f !important;
    }
  }
}

.ast-header-data {
  padding: 1em;
  background-color: #ddd;

  table.assessment-header {
    margin: 0 !important;

    th {
      height: auto !important;
      padding: 0.3em !important;
      vertical-align: middle;
    }
  }

  table.assessment-data-table {
    margin-top: 1em;
    margin-bottom: 0;
    color: #1d1d1d !important;
    
    &.article-1314 {
      th {
        width: initial;
        text-align: inherit;
        padding: 0 1rem;
      }
    }
    tr.overall-score th,
    tr.overall-score td {
      width: 15%;
    }

    tr.assessment-summary {
      td {
        min-height: 30px;
      }
    }

    th {
      width: 9%;
      padding: 0 1rem 0 0;
      border: 1px solid #ccc;
      background-color: #eee;
      color: #1d1d1d;
      text-align: right;

      .q-wrap {
        display: flex;
        width: 100%;
        min-height: 56px;
      }

      .q-id {
        min-width: 8rem;
        padding: 9px;
        margin-right: 0.3rem;
        background-color: #999;
        color: white;
        text-align: center;
      }

      .q-title {
        width: 100%;
      }

      &.as-header {
        padding: 0.4rem;
        background-color: #0071b3 !important;
        color: white;
        // min-height: 65px;
      }

      &.as-question {
        min-width: 22em !important;
      }

      &.as-ges-component {
        width: 30px;
      }
    }

    label {
      padding: 0 6px;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 9px;
      cursor: help;
    }

    span.score.glyphicon.glyphicon-info-sign {
      padding-right: 0.5rem;
      color: #0071b3;
    }

    span.score.glyphicon.glyphicon-exclamation-sign {
      padding-right: 0.5rem;
      color: orangered;
    }
  }
}

.nda-link,
.back-to-descr,
.back-to-art {
  //margin-top: 0.5em;
  //margin-bottom: 1em;
  display: inline-block;
  font-size: 13px;

  a {
    position: relative;
    top: -1.5em;
  }
}

.as-table-overview {
  margin-top: 1em;
}

div.comp-discussion-track-container {
  padding: 1em;
  margin: 2em 0;
  background-color: #f7f7f7;

  h4 {
    margin-top: 0;
    margin-bottom: 1em;
  }

  div.formControls {
    margin: 0;
  }
}

// National and Regional descriptors assessment overview
table.comp-c-listing {
  width: inherit;
}

.fixed-title {
  position: fixed;
  z-index: 1001;
  top: -13px;
  font-size: 18px;
}

#report-data-navigation {
  position: relative;
  margin-top: 1.5em;
  margin-bottom: 1em;

  div.back-to-descr {
    display: inline-block;
    margin-bottom: 1em;
  }

  div.popover.bottom {
    min-width: 500px !important;
  }

  .sticky {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 56px;
    background-color: #fff;
    // padding: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: top 0.2s ease-in-out;

    &.has-infobox {
      background-color: #f96a6a;
    }

    .nav-wrapper {
      float: right;

      .nav-body {
        top: 56px;
        right: 0;
        left: 0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      }
    }
  }

  .fixed {
    float: right;

    i {
      position: relative;
    }

    .nav-body {
      z-index: 99;
      top: 50px;
      right: 10px;
    }
  }

  .nav-header {
    .nav-toggle {
      border: none;
      background-color: transparent;

      &:focus,
      &:hover {
        box-shadow: none;
        outline: none;
      }
    }

    i {
      color: @main-dark-blue;
      font-size: 30px;
    }
  }

  .nav-body {
    position: absolute;
    background: @main-dark-blue;
    box-shadow: 0 0 2px #3e3d3d;
    text-align: center;

    a:focus {
      text-decoration: none;
    }

    .nav-articles {
      display: flex;
      border-top: 1px solid #fff;
    }

    .art-middle {
      a {
        border-bottom: 1px solid #fff;
        font-size: 16px;
        font-weight: bold;
      }
    }

    .nav-region:not(:last-child) {
      border-bottom: 3px solid #fff;
    }

    .art-title,
    .nav-regions {
      a {
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        justify-content: center;
        padding: 0.5em;
        color: #fff;
        font-size: 17px;
        font-weight: bold;

        &:hover {
          background-color: #fff;
          color: @main-dark-blue;
          text-decoration: none;
        }
      }
    }

    .art-title {
      border-bottom: 3px solid #fff;

      a {
        font-size: 20px;
      }
    }

    .art:not(:last-child) {
      border-right: 1px solid #fff;
    }

    .art {
      flex-grow: 1;

      a {
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        justify-content: center;
        padding: 0.5em 1em;
        color: #fff;

        &:hover {
          background-color: #fff;
          color: @main-dark-blue;
          text-decoration: none;
        }
      }

      .art-title {
        border-bottom: 1px solid #fff;
        font-size: 16px;
        font-weight: bold;

        &:hover {
          background-color: #fff;

          a {
            color: @main-dark-blue;
          }
        }
      }

      .art-links {
        display: flex;

        a {
          &:not(:last-child) {
            border-right: 1px solid #fff;
          }
        }
      }
    }
  }
}

.pdf-assessment {
  margin-top: 1em;
  font-size: 1.5em;
}

.wise-search-landingpage {
  overflow-x: auto;

  .overflow-table .fixed-table-inner {
    tr {
      th:last-of-type {
        border-right: none;
      }
    }

    a {
      color: white;
    }

    th {
      padding: 5px 3px !important;
      border: 1px solid white;
      border-top: none;
      border-bottom: none;
      border-radius: 0;
      font-size: 90%;
    }

    td {
      max-width: 120px;
      padding: 5px 8px !important;
      border: 1px solid #ddd;
      //border: none;
      border-radius: 0;
      color: #333;
      // font-size: 16px;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      vertical-align: middle;
    }
  }

  .fixed-table-inner,
  .table-landingpage {
    .BAL-C + .ATL-C,
    .BAL + .ATL,
    .BAL-A + .ATL-A,
    .BAL-CA + .ATL-CA,
    .ATL-C + .MED-C,
    .ATL + .MED,
    .ATL-A + .MED-A,
    .ATL-CA + .MED-CA,
    .MED-C + .BLK-C,
    .MED + .BLK,
    .MED-A + .BLK-A,
    .MED-CA + .BLK-CA {
      border-left: 3px solid #ddd !important;
    }

    .BAL-A,
    .ATL-A,
    .MED-A,
    .BLK-A,
    .BAL-CA,
    .ATL-CA,
    .MED-CA,
    .BLK-CA {
      .glyphicon-file {
        color: #e09934 !important;
      }
    }
  }

  .table-landingpage {
    margin: 0 !important;
    //border: none;
    font-size: 14px;

    input.fix-row {
      display: none;
    }

    tr.base-row:nth-of-type(even) {
      background-color: #f1f1f1;
    }

    tr {
      &.landpage-header {
        th,
        td,
        a {
          color: white;
        }

        th {
          background-color: #005588;
          font-size: 100%;
        }

        td {
          //background-color: #f1f1f1;
          background-color: #005588;
        }
      }

      &.year-separator {
        td {
          height: 5px;
          padding: 0 !important;
          border-right: 1px solid white;
          border-left: 1px solid white;
          //background-color: #ccc;
          background-color: white;
        }
      }

      &.year-separator:last-of-type {
        display: none;
      }
    }

    tr {
      th:last-of-type {
        border-right: none;
      }
    }

    tr.base-row {
      border: 1px solid white !important;
    }

    th,
    td {
      max-width: 120px;
      padding: 5px 8px !important;
      //border: 1px solid white;
      border-radius: 2px;
      font-size: 90%;
      text-align: center;
      text-decoration: none;
      vertical-align: middle !important;

      &.landpage-header {
        font-size: 15px;
        font-weight: bold;
      }

      &.bold-border {
        border-right: 3px solid #aaa;
        margin-right: 1px;
      }
    }

    th {
      padding: 5px 3px !important;
      border: 1px solid white;
      border-top: none;
      border-bottom: none;
      //background-color: #005588;
      //border: 1px solid #005588;
      //color: white;

      background-color: #efefef;
      border-radius: 0;
      font-family: 'RobotoM';
      //color: #333;
      font-weight: 200;
    }

    td {
      //border: 1px solid white;
      //border: none;
      border-radius: 0;

      /*&.BAL-C, &.ATL-C, &.MED-C, &.BLK-C,
       &.BAL-CA, &.ATL-CA, &.MED-CA, &.BLK-CA,
        &.BAL-A, &.ATL-A, &.MED-A, &.BLK-A {
        a {
          color: #333;
        }
      }

      &.BAL, &.ATL, &.MED, &.BLK, &.ROW {
        a {
          color: #333;
          margin: 0 2em;
          display: inline-block;
        }
      }

      &.BAL-CA, &.ATL-CA, &.MED-CA, &.BLK-CA {
        background-color: rgba(253, 234, 218, 0.2);
      }

      &.BAL-A, &.ATL-A, &.MED-A, &.BLK-A {
        background-color: rgba(250, 192, 144, 0.2);
      }

      &.BAL-C {
        background-color: rgba(147, 205, 221, 0.2);
      }

      &.BAL {
        background-color: rgba(33, 89, 104, 0.2);
      }

      &.ATL-C {
        background-color: rgba(198, 217, 241, 0.2);
      }

      &.ATL {
        background-color: rgba(85, 142, 213, 0.2);
      }

      &.MED-C {
        background-color: rgba(252, 213, 181, 0.2);
      }

      &.MED {
        background-color: rgba(228, 108, 10, 0.2);
      }

      &.BLK-C {
        background-color: rgba(217, 150, 148, 0.2);
      }

      &.BLK {
        background-color: rgba(99, 37, 35, 0.2);
      }
      &.ROW {
        background-color: rgba(152, 72, 7, 0.2);
      }
*/
    }
  }
}

#msfd-history-edit-table {
  th {
    background-color: #aaa;
  }
}

#recommendation-edit-table {
  td:not(:last-child):not(:first-child) {
    min-width: 150px;
  }
}

#msfd-history-form {
  .form-group {
    flex: 0 50%;
  }
}

#recommendation-form {
  .form-group {
    flex: 0 100%;
  }
}

#recommendation-form,
#msfd-history-form {
  display: flex;
  flex-wrap: wrap;

  label {
    font-size: 15px;
  }

  .form-group {
    padding: 5px 10px;

    textarea {
      overflow: hidden;
      min-height: 4em;
      padding: 10px;
    }
  }

  .btn {
    margin-top: 1em;
    margin-left: 10px;
  }

  #textarea,
  #Row {
    &.disabled {
      background: lightgray;
      pointer-events: none;
    }
  }

  .container-form-group-multiple {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
  }

  .form-group.disabled {
    cursor: not-allowed !important;
  }

  .form-group.multiple {
    margin: 5px;
  }

  .form-group.multiple:first-child {
    flex: 1.1;
  }

  .form-group.multiple:last-child {
    flex: 1;
  }
}

.popover {
  z-index: 99999;
  background-color: @popover-bg !important;

  .popover-title {
    margin: 0 !important;
  }

  .popover-content p {
    font-family: 'RobotoR';
    font-size: 14px;
  }
}

.modal {
  .modal-title {
    margin: 0 !important;
  }

  .form-group {
    .btn {
      margin-top: 1.5em;
    }
  }
}

.translation-view h4 {
  margin-top: 0 !important;
}

@media (min-width: 768px) {
  .translation-view .row {
    display: flex;
    flex-wrap: wrap;
  }
}

.edit-recommendation-feedback {
  padding: 0 15px;

  .recommendation-subform-wrap {
    padding-bottom: 1.5em;

    .recommendation-subform {
      padding: 1.5em;
      background-color: #a6e1fb;
      border-radius: 5px;
    }
  }

  .fields-container {
    display: flex;
    flex-wrap: wrap;

    .fields-container-row {
      padding: 5px;

      &.flex-textarea {
        flex: 0 100%;
      }

      div.widget {
        display: block;
      }
    }
  }

  .recommendation-info-container {
    .subform-title {
      padding-bottom: 1rem;
      border-bottom: 1px solid #aaa;
      margin: 0;
      color: #002d54;
      font-family: 'PoppinsSemiB';
      font-size: 16px;
    }

    div {
      padding: 5px;
    }
  }
}
