@import "bootstrap/variables.less";
@import "variables.less";

.vendor-prefix(@prop; @val) {
  @{prop}: @val;
  -ms-@{prop}: @val;
  -moz-@{prop}: @val;
  -webkit-@{prop}: @val;
  -o-@{prop}: @val;
}

// generic fixes, should be temporary. This fixes the really long breadcrumbs
.content-page .main-content {
  margin-top: 4em !important;
}

.breadcrumbs {
  display: none;
}

.fullwidth {
  .center-section {
    width: 100%;
    border: none;
  }

  .main-content {
    box-shadow: none !important;
  }

  .side-section {
    display: none;
  }
}

.table-striped {
  tbody tr:nth-of-type(odd) {
    background-color: #eee;
  }

  thead {
    background-color: #AAA;
    color: white;
  }
}

.visible-xs {
  clear: both;
}

.fa-question-circle {
  color: #333;
}

em {
  border-bottom: 1px dotted #CCC;
  font-style: normal;
  cursor: help;
}

div.widget {
  display: flex;
}

div.subform-refresh {
  padding: 1em;
  margin: 1em 0 1em 1em;
  background-color: #CCC;
  width: 20em;
  float: right;
}

.kssattr-formname-edit-assessment-summary,
.wise-search-form-container {
  .formControls {
    margin: 0;
  }
}
h4.process-phase-title {
  margin-top: 0;
  font-style: italic;
}


// Country national descriptors overview
.process-state-phase-form {
  background-color: #dff1c3;
  padding: 1em;
  // border: 1px solid #aaa;
  margin-bottom: 3em;
  line-height: 2em;

  .phase-selector {
    float: right;
  }
}

div.as-table-overview blockquote {
  font-size: 80%;
  margin: 0.6em 0 0 0;
  padding-left: 1em;
}


// Assessment overview
// nat-desc-art-view.pt
#nat-desc-art-menu {
  ul {
    display: flex;
    margin-left: 0 !important;
    li {
      padding: 1em;
      line-height: 2em;
      list-style-type: none;
      display: block;
      margin-right: 1em;
      background-color: #d3f3f9;
    }
    .process-state {
      background-color: #dff1c3;

      .select2-container {
        margin-left: 1em;
      }
    }
  }
}

.ast-header-data {
  background-color: #ddd;
  border: 1px solid #bbb;
  padding: 1em;

  table.assessment-header {
    margin: 0 !important;

    th {
      height: auto !important;
    }
  }

  table.assessment-data-table {
    margin-bottom: 0;
    margin-top: 1em;

    tr.overall-score th,
    tr.overall-score td {
      width: 15%;
    }

    tr.assessment-summary {
      td {
        min-height: 30px;
      }
    }

    td {
      min-width: 4em;
      height: 2rem;
      border: 1px solid #ccc;
      background-color: #fff;

      &.as-value {
        width: 30px;
        height: 30px;
      }

      &.as-score { text-align: right; }

      &.as-value-0 { background-color: #eee !important; }     // not completed
      &.as-value-1 { background-color: #b1c587 !important; }  // very good
      &.as-value-2 { background-color: #d4dfbc !important; }  // good
      &.as-value-3 { background-color: #ffeeae !important; }  // partial
      &.as-value-4 { background-color: #ffaeae !important; }  // poor
      &.as-value-5 { background-color: #fd7878 !important; }  // very poor
      &.as-value-6 { background-color: #b8d1e0 !important; }  // not clear
      &.as-value-7 { background-color: #fff !important; }     // not relevant
    }

    th {
      background-color: #EEE;
      border: 1px solid #ccc;
      padding: 0 1rem 0 0;
      text-align: right;
      width: 9%;

      .q-wrap {
        display: flex;
        width: 100%;
      }
      .q-id {
        background-color: #999;
        color: white;
        width: 4rem;
        padding: 9px;
        text-align: center;
        margin-right: 0.3rem;
      }
      .q-title {
        width: 100%;
      }

      &.as-header {
        background-color: #0071b3 !important;
        color: white;
        // min-height: 65px;
      }

      &.as-question {
        min-width: 22em !important;
      }

      &.as-ges-component { width: 30px; }
    }

    label {
      background-color: rgba(255,255,255, 0.5);
      padding: 0 6px;
      border-radius: 9px;
      cursor: help;
    }
  }
}

.nda-link {
  margin-bottom: 1em;
}

.as-table-overview {
  margin-top: 1em;
}

div.comp-discussion-track-container {
  margin: 2em 0;
  background-color: #F7F7F7;
  padding: 1em;

  h4 {
    margin-top: 0;
    margin-bottom: 1em;
  }

  div.formControls {
    margin: 0;
  }
}


div.back-to-descr {
  margin-top: 20px;
  margin-bottom: 10px;
}

// .nat-edit-form {
  //   margin: 0 auto;
  //   max-width: 1170px;
  //   position: relative;
  //   width: 100%;
// }


// National and Regional descriptors assessment overview
table.comp-c-listing {
  width: inherit;
}

.fixed-title {
  position: fixed;
  top: 0px;
  z-index: 999;
  font-size: 18px;
}

#report-data-navigation {
  position: relative;
  margin-bottom: 1em;

  div.back-to-descr {
    margin-bottom: 1em;
    display: inline-block;
  }

  .sticky {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #fff;
    padding: 1em 2em;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: top .2s ease-in-out;

    .nav-wrapper {
      float: right;

      .nav-body {
        left: 0;
        right: 0;
        top: 58px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

      }
    }
  }

  .fixed {
    float: right;

    i {
      position: relative;
      bottom: 11px;
    }

    .nav-body {
      border-radius: 10px;
      right: 30px;
      top: -32px;

      .art-title {
        a {
          border-top-right-radius: 10px;
          border-top-left-radius: 10px;
        }
      }

      .art:first-child {
        .art-title,
        .art-title a {
          border-top-left-radius: 10px;
        }
        .art-links {
          a:first-child {
            border-bottom-left-radius: 10px;
          }
        }
      }

      .art:last-child {
        .art-title,
        .art-title a {
          border-top-right-radius: 10px;
        }
        .art-links {
          a:last-child {
            border-bottom-right-radius: 10px;
          }
        }
      }
    }
  }

  .nav-header {
    .nav-toggle {
      background-color: transparent;
      border: none;
    }
    .nav-toggle:focus {
      outline: none;
    }
    i {
      font-size: 30px;
      color: @main-dark-blue;
    }
  }

  .nav-body {
    position: absolute;
    box-shadow: 0 0 2px #3e3d3d;
    background: @main-dark-blue;
    text-align: center;

    a:focus {
      text-decoration: none;
    }

    .nav-articles {
      display: flex;
      border-top: 2px solid #fff;
    }

    .art-middle {
      a {
        font-weight: bold;
        font-size: 16px;
        border-bottom: 1px solid #fff;
      }
    }

    .art-title {
      a {
        color: #fff;
        font-size: 17px;
        font-weight: bold;
        padding: 0.5em;
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        justify-content: center;
      }
      a:hover {
        text-decoration: none;
        background-color: #fff;
        color: #0071b3;
      }
    }

    .art:not(:last-child) {
      border-right: 2px solid #fff;
    }

    .art {
      flex-grow: 1;

      a {
        color: #fff;
        padding: 0.5em 1em;
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        justify-content: center;
      }
      a:hover {
        background-color: #fff;
        color: @main-dark-blue;
        text-decoration: none;
      }

      .art-title {
        font-weight: bold;
        font-size: 16px;
        border-bottom: 1px solid #fff;
      }
      .art-title:hover {
        background-color: #fff;
        a {
          color: @main-dark-blue;
        }
      }

      .art-links {
        display: flex;
        a {
          &:not(:last-child) {
            border-right: 1px solid #fff;
          }
        }
      }
    }
  }
}
