@import "bootstrap/variables.less";
@import "variables.less";

// Color definitions for extra colored buttons
@btn-warning-2-bg: #ffca00;
@btn-warning-2-border: darken(@btn-warning-2-bg, 5%);
@btn-success-2-bg: #2d826e;
@btn-success-2-border: darken(@btn-success-2-bg, 5%);

.vendor-prefix(@prop; @val) {
  @{prop}: @val;
  -ms-@{prop}: @val;
  -moz-@{prop}: @val;
  -webkit-@{prop}: @val;
  -o-@{prop}: @val;
}

// generic fixes, should be temporary. This fixes the really long breadcrumbs
.content-page .main-content {
  margin-top: 4em !important;
}

.start-page-content {
  img {
    width: 95%;
  }
}

.breadcrumbs {
  display: none;
}

.fullwidth {
  .center-section {
    width: 100%;
    border: none;
  }

  .main-content {
    box-shadow: none !important;
  }

  .side-section {
    display: none;
  }
}

.table-striped {
  tbody tr:nth-of-type(odd) {
    background-color: #eee;
  }

  thead {
    background-color: #AAA;
    color: white;
  }
}

.table-country-start {
  tbody {
    .region-title {
      border: none;
      font-size: 20px;

      td {
        padding-top: 1em;
        background-color: white;
        border: none;
        text-align: left;
      }
    }
    .article-title {
      th, td {
        background-color: #AAA;
        color: white;
      }
    }
    tr {
      th:first-of-type {
        width: 200px;
      }
      &.fullwidth-statusbar {
        td {
          a {
            width: 100%;
          }
        }
      }
    }
  }
}

.visible-xs {
  clear: both;
}

// .fa-question-circle {
//   color: #333;
// }

em {
  border-bottom: 1px dotted #CCC;
  font-style: normal;
  cursor: help;
}

div.widget {
  display: flex;
}

div.subform-refresh {
  padding: 1em;
  margin: 1em 0 1em 1em;
  background-color: #CCC;
  width: 20em;
  float: right;
}

.kssattr-formname-edit-assessment-summary,
.wise-search-form-container {
  .formControls {
    margin: 0;
  }
}
h4.process-phase-title {
  margin-top: 0;
  font-style: italic;
}

// Country national descriptors overview
.cursor-wait {
  * {
    cursor: wait;
  }
}
.assessment-status-wrapper {
  position: relative;

  .assessment-status-processstate {
    position: absolute;
    float: right;
    z-index: 99;
    background-color: #dff1c3;
    padding: 6px;
    right: 1em;
    border-bottom-left-radius: 10px;
    font-size: 14px !important;
    cursor: help;
    right: 8px;
    top: -3px;

    .buttons-wrapper {
      display: none;
      padding: 5px 0 1px 0;
      border-top: 1px solid #aaa;
    }

    .process-state {
      width: 100%;
      display: none;
      margin-bottom: 8px;

      .phase-selector {
        width: 250px;
        margin-top: 3px;
        margin-bottom: 3px;
      }
      .select2-container {
        min-width: 200px !important;
      }
      .close-button {
        float: right;
        font-size: 14px;
        padding: 2px;
      }
    }

    &.active {
      border-bottom-left-radius: 0;
      cursor: default;

      .process-state {
        display: block;
      }
      .buttons-wrapper {
        display: block;
      }
    }
  }
}
.assessment-status-container2 {
  margin-left: -2em;
  display: inline-flex;
  justify-content: center;

  li {
    list-style-type: none !important;
    width: 4em;
    float: left;
    font-size: 10px;
    position: relative;
    text-align: center;
    color: #aaa;
    margin-left: -4px;
    padding: 2px;
  }

  li:before {
    color: #bbb;
    width: 30px;
    height: 30px;
    content: '';
    line-height: 27px;
    border: 2px solid #ddd;
    display: block;
    text-align: center;
    margin: 0 auto 5px auto;
    border-radius: 50%;
    background-color: #eee;
    z-index: 1;
    position: relative;
  }

  li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #ddd;
    top: 16px;
    left: -50%;
    z-index: 0;
  }

  li:first-child:after {
    content: none;
  }

  li.active {
    font-weight: bold;
    &.danger {
      color: @btn-danger-border;
      &:before {
        border-color: @btn-danger-border;
        background-color: @btn-danger-bg;
      }
      &:after {
        background-color: @btn-danger-bg;
      }
      +li:after {
        background-color: @btn-danger-bg;
      }
    }
    &.default {
      @default-color: #555;
      color: @default-color;
      &:before {
        border-color: @default-color;
        background-color: @btn-default-bg;
      }
      &:after {
        background-color: @default-color;
      }
      +li:after {
        background-color: @default-color;
      }
    }
    &.warning {
      color: @btn-warning-border;
      &:before {
        border-color: @btn-warning-border;
        background-color: @btn-warning-bg;
      }
      &:after {
        background-color: @btn-warning-bg;
      }
      +li:after {
        background-color: @btn-warning-bg;
      }
    }
    &.warning-2 {
      color: @btn-warning-2-border;
      &:before {
        border-color: @btn-warning-2-border;
        background-color: @btn-warning-2-bg;
      }
      &:after {
        background-color: @btn-warning-2-bg;
      }
      +li:after {
        background-color: @btn-warning-2-bg;
      }
    }
    &.primary {
      color: @btn-primary-border;
      &:before {
        border-color: @btn-primary-border;
        background-color: @btn-primary-bg;
      }
      &:after {
        background-color: @btn-primary-bg;
      }
      +li:after {
        background-color: @btn-primary-bg;
      }
    }
    &.success {
      color: @btn-success-border;
      &:before {
        border-color: @btn-success-border;
        background-color: @btn-success-bg;
      }
      &:after {
        background-color: @btn-success-bg;
      }
      +li:after {
        background-color: @btn-success-bg;
      }
    }
    &.success-2 {
      color: @btn-success-2-border;
      &:before {
        border-color: @btn-success-2-border;
        background-color: @btn-success-2-bg;
      }
      &:after {
        background-color: @btn-success-2-bg;
      }
      +li:after {
        background-color: @btn-success-2-bg;
      }
    }
  }

  li.finished {
    color: #555;
    &:before {
      background-color: #ccc;
      border: 2px solid #bbb;
      content: "\f00c";
      color: #444;
      font-family: FontAwesome;
      font-weight: lighter;
      font-size: 14px;
    }
    &:after {
      background-color: #bbb;
    }
  }
}

.assessment-status-colorbar {
  text-align: center;
}

.process-state-phase-form {
  background-color: #dff1c3;
  padding: 1em;
  // border: 1px solid #aaa;
  margin-bottom: 2em;
  margin-top: 1em;
  line-height: 2em;

  .process-state {
    display: inline-block;

    .phase-selector {
      margin-left: 3em;
      float: right;
    }
  }

  .send-to-tl {
    display: inline-block;
    //float: right;
  }
}

.btn.process-status {
  width: 100%;
  text-align: left;
}

div.as-table-overview blockquote {
  font-size: 80%;
  margin: 0.6em 0 0 0;
  padding-left: 1em;
}

span.has-new-comments {
  cursor: help;
  float: right;
  font-size: 18px;
  margin-left: 5px;
}

// Custom colored buttons for process states
.btn-warning-2 {
  color: #fff;
  background-color: @btn-warning-2-bg;
  border: solid 1px @btn-warning-2-border;

  &:hover {
    color: #fff !important;
    background-color: @btn-warning-2-border;
  }
}
.btn-success-2 {
  color: #fff;
  background-color: @btn-success-2-bg;
  border: solid 1px @btn-success-2-border;

  &:hover {
    color: #fff !important;
    background-color: @btn-success-2-border;
  }

}

.btn-light {
  border: 1px solid #DDD;
}

// Assessment overview
// nat-desc-art-view.pt
#nat-desc-art-menu {
  ul {
    display: flex;
    margin-left: 0 !important;
    li {
      padding: 1em;
      line-height: 2em;
      list-style-type: none;
      display: block;
      margin-right: 1em;
      background-color: #d3f3f9;
    }
    .process-state {
      background-color: #dff1c3;

      .select2-container {
        margin-left: 1em;
      }
    }
  }
}

.table.table-condensed.assessment-data-table.clone {
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;

  .fixed-left {
    visibility: visible;
  }
  .fixed-center {
    width: 0px;
    visibility: hidden;

    .gescomp:not(:first-child) {
      display: none !important;
    }
    &.subform {
      visibility: visible;
    }
  }
  .fixed-right {
    z-index: 999;
    visibility: visible;
  }
}
#container-assessment-data-2018, #container-assessment-data-2012 {
  position: relative;

  .table-wrap {
    z-index: 0;
    overflow: auto;
    overflow-y: hidden;
  }

  td {
    &.fixed-center {
      padding: 0px;
      border: none;

      div.assessment-summary {
        padding: 1px 30px 1px 5px;
        min-height: 20px;
      }

      div.gescomp {
        display: table-cell;
        //min-width: 100px;
        padding: 5px;
        margin-right: -3px;
        width: 2000px;

        label {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    &.fixed-right {
      min-width: 150px;
      width: 150px;
      text-align: center;
      vertical-align: middle;
    }
  }

  .form-assessment-summary {
    padding: 5px;
    border-top: 1px solid #ccc;
  }

  .overall-headers, .overall-values {
    height: 100%;
    padding: 0px;

    &.fixed-right {
      vertical-align: top;
    }

    div.as-value {
      padding: 1px 5px;
      min-height: 55px;
      border: 1px solid #ccc;
      //margin: -1px;
      overflow: hidden;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

#container-assessment-data-2012 {
  .overall-headers {
    div {
      height: 76px;
      background-color: #eee;
      color: #333;
      border: 0px;
      border-bottom: 1px solid #ccc;
    }
  }
}

.ast-header-data {
  background-color: #ddd;
  border: 1px solid #bbb;
  padding: 1em;

  table.assessment-header {
    margin: 0 !important;

    th {
      height: auto !important;
    }
  }

  table.assessment-data-table {
    margin-bottom: 0;
    margin-top: 1em;

    tr.overall-score th,
    tr.overall-score td {
      width: 15%;
    }

    tr.assessment-summary {
      td {
        min-height: 30px;
      }
    }

    td, div.gescomp, .overall-values div.as-value, .overall-headers div.as-value {
      min-width: 4em;
      height: 2rem;
      border: 1px solid #ccc;
      background-color: #fff;

      &.as-score { text-align: right; }

      &.as-value-0 { background-color: #eee !important; }     // not completed
      &.as-value-1 { background-color: #a2b971 !important; }  // very good
      &.as-value-2 { background-color: #d4dfbc !important; }  // good
      //&.as-value-3 { background-color: #ffeeae !important; }  // partial
      &.as-value-3 { background-color: #c74040 !important; }  // not reported
      &.as-value-4 { background-color: #ffb6b6 !important; }  // poor
      //&.as-value-4 { background-color: #ffcbc1 !important; }  // poor
      &.as-value-5 { background-color: #ff6d6d !important; }  // very poor
      &.as-value-6 { background-color: #b8d1e0 !important; }  // not clear
      &.as-value-7 { background-color: #fff !important; }     // not relevant
    }

    th {
      background-color: #EEE;
      border: 1px solid #ccc;
      padding: 0 1rem 0 0;
      text-align: right;
      width: 9%;

      .q-wrap {
        display: flex;
        width: 100%;
        min-height: 56px;
      }
      .q-id {
        background-color: #999;
        color: white;
        min-width: 8rem;
        padding: 9px;
        text-align: center;
        margin-right: 0.3rem;
      }
      .q-title {
        width: 100%;
      }

      &.as-header {
        background-color: #0071b3 !important;
        color: white;
        // min-height: 65px;
      }

      &.as-question {
        min-width: 22em !important;
      }

      &.as-ges-component { width: 30px; }
    }

    label {
      background-color: rgba(255,255,255, 0.5);
      padding: 0 6px;
      border-radius: 9px;
      cursor: help;
    }

    span.score.fa.fa-info-circle.fa-s {
      padding-right: 0.5rem;
      color: #0071b3;
    }
    span.score.fa.fa-exclamation-circle.fa-s {
      padding-right: 0.5rem;
      color: orangered;
    }
  }

}

.nda-link {
  margin-bottom: 1em;
  display: inline;
}

.as-table-overview {
  margin-top: 1em;
}

div.comp-discussion-track-container {
  margin: 2em 0;
  background-color: #F7F7F7;
  padding: 1em;

  h4 {
    margin-top: 0;
    margin-bottom: 1em;
  }

  div.formControls {
    margin: 0;
  }
}


div.back-to-descr {
  margin-top: 20px;
  margin-bottom: 10px;
}

// .nat-edit-form {
  //   margin: 0 auto;
  //   max-width: 1170px;
  //   position: relative;
  //   width: 100%;
// }


// National and Regional descriptors assessment overview
table.comp-c-listing {
  width: inherit;
}

.fixed-title {
  position: fixed;
  top: 0px;
  z-index: 999;
  font-size: 18px;
}

#report-data-navigation {
  position: relative;
  margin-bottom: 1em;
  margin-top: 1.5em;

  div.back-to-descr {
    margin-bottom: 1em;
    display: inline-block;
  }

  div.popover.bottom {
   min-width: 500px !important;
  }

  .sticky {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #fff;
    padding: 1em 2em;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: top .2s ease-in-out;

    &.has-infobox {
     background-color: #f96a6a;
    }

    .nav-wrapper {
      float: right;

      .nav-body {
        left: 0;
        right: 0;
        top: 58px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

      }
    }
  }

  .fixed {
    float: right;

    i {
      position: relative;
      // bottom: 11px;
    }

    .nav-body {
      border-radius: 10px;
      right: 30px;
      top: -32px;
      z-index: 99;

      .art-title {
        a {
          border-top-right-radius: 10px;
          border-top-left-radius: 10px;
        }
      }

      .art:first-child {
        .art-title,
        .art-title a {
          border-top-left-radius: 10px;
        }
        .art-links {
          a:first-child {
            border-bottom-left-radius: 10px;
          }
        }
      }

      .art:last-child {
        .art-title,
        .art-title a {
          border-top-right-radius: 10px;
        }
        .art-links {
          a:last-child {
            border-bottom-right-radius: 10px;
          }
        }
      }
    }
  }

  .nav-header {
    .nav-toggle {
      background-color: transparent;
      border: none;
    }
    .nav-toggle:focus {
      outline: none;
    }
    i {
      font-size: 30px;
      color: @main-dark-blue;
    }
  }

  .nav-body {
    position: absolute;
    box-shadow: 0 0 2px #3e3d3d;
    background: @main-dark-blue;
    text-align: center;

    a:focus {
      text-decoration: none;
    }

    .nav-articles {
      display: flex;
      border-top: 1px solid #fff;
    }

    .art-middle {
      a {
        font-weight: bold;
        font-size: 16px;
        border-bottom: 1px solid #fff;
      }
    }
    .nav-region:not(:last-child) {
      border-bottom: 3px solid #fff;
    }
    .art-title, .nav-regions {
      a {
        color: #fff;
        font-size: 17px;
        font-weight: bold;
        padding: 0.5em;
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        justify-content: center;
      }
      a:hover {
        text-decoration: none;
        background-color: #fff;
        color: #0071b3;
      }
    }
    .art-title {
      border-bottom: 3px solid #fff;

      a {
        font-size: 20px;
      }
    }

    .art:not(:last-child) {
      border-right: 1px solid #fff;
    }

    .art {
      flex-grow: 1;

      a {
        color: #fff;
        padding: 0.5em 1em;
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        justify-content: center;
      }
      a:hover {
        background-color: #fff;
        color: @main-dark-blue;
        text-decoration: none;
      }

      .art-title {
        font-weight: bold;
        font-size: 16px;
        border-bottom: 1px solid #fff;
      }
      .art-title:hover {
        background-color: #fff;
        a {
          color: @main-dark-blue;
        }
      }

      .art-links {
        display: flex;
        a {
          &:not(:last-child) {
            border-right: 1px solid #fff;
          }
        }
      }
    }
  }
}

.pdf-assessment {
  margin-top: 1em;
  font-size: 1.5em;
}

.wise-search-landingpage {
  overflow-x: auto;

  .table-landingpage {
    margin: 0 !important;

    tr {
      &.landpage-header {
        th {
          font-size: 120%;
        }
      }

      &.year-separator {

      }
    }

    tr.year-separator + tr {
      border-top: 2px solid #aaa;
    }

    th, td {
      border: 1px solid white;
      border-radius: 2px;
      font-size: 90%;
      max-width: 110px;
      padding: 1px !important;
      text-align: center;
      text-decoration: none;
      vertical-align: middle !important;

      &.landpage-header {
        font-size: 175%;
      }

      &.bold-border {
        border-right: 3px solid #aaa;
        margin-right: 1px;
      }
    }

    th {
      background-color: #efefef;
    }

    td {
      border: 1px solid white;

      &.BAL-C, &.ATL-C, &.MED-C, &.BLK-C,
       &.BAL-CA, &.ATL-CA, &.MED-CA, &.BLK-CA,
        &.BAL-A, &.ATL-A, &.MED-A, &.BLK-A {
        a {
          color: #333;
        }
      }
      &.BAL, &.ATL, &.MED, &.BLK, &.ROW {
        a {
          color: white;
        }
      }
      &.BAL-CA, &.ATL-CA, &.MED-CA, &.BLK-CA {
        background-color: #FDEADA;
      }
      &.BAL-A, &.ATL-A, &.MED-A, &.BLK-A {
        background-color: #FAC090;
      }
      &.BAL-C {
        background-color: #93CDDD;
      }
      &.BAL {
        background-color: #215968;
      }
      &.ATL-C {
        background-color: #C6D9F1;
      }
      &.ATL {
        background-color: #558ED5;
      }
      &.MED-C {
        background-color: #FCD5B5;
      }
      &.MED {
        background-color: #E46C0A;
      }
      &.BLK-C {
        background-color: #D99694;
      }
      &.BLK {
        background-color: #632523;
      }
      &.ROW {
        background-color: #984807;
      }

      a {
        //text-decoration: initial;
      }
    }
  }
}

#recommendation-edit-table {
  td:not(:last-child):not(:first-child) {
    min-width: 150px;
  }
}
#recommendation-form {
  label {
    font-size: 1.1em;
  }

  #recomm-code {
    &.disabled {
      pointer-events: none;
      background: lightgray;
    }
  }

  .container-form-group-multiple {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .form-group.disabled {
    cursor: not-allowed !important;
  }

  .form-group.multiple {
    margin: 5px;
  }
  .form-group.multiple:first-child {
    flex: 1.1;
  }
  .form-group.multiple:last-child {
    flex: 1;
  }
}