.article-assessment-pdf {
  td {
    width: auto;
    padding: 5px;
  }
  p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }
  b {
    font-weight: bold;
  }
  label {
    font-size: 16px;
  }
}

table {
  border-collapse: collapse;

  th,
  td {
    border: 1px solid #e5e5e5;
    color: #333;
  }

  ul,
  ol {
    margin-left: 15px !important;
    font-size: 10px;
    padding-inline-start: 10px;
  }
}

p {
  color: #333;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.national-summary-section {
  color: #333;
  font-size: 20px;
}

.table-simple-summary {
  ul,
  ol {
    margin-left: 1.5em;
    font-size: 12px;
    list-style-type: disc !important;

    li {
      list-style-type: disc !important;
    }
  }
}

.ast-header-data {
  td,
  th {
    text-align: center !important;
    vertical-align: middle !important;

    div {
      display: block;
      align-items: center !important;
      justify-content: center !important;
      padding: 5px;

      &.as-value {
        overflow: hidden;

        div {
          padding: 5px;
        }
      }
    }
  }

  td.overall-values {
    overflow: hidden;

    div.as-value div {
      padding: 15px;
    }
  }
}

th.summary.column-header {
  min-width: 100px;
}

td.summary {
  word-break: break-word;
}

.nat-sum-report-history table {
  font-size: 12px;
}
