table {
  border-collapse: collapse;

  th, td {
    border: 1px solid #e5e5e5;
    color: #333
  }

  ul {
    margin-left: 1.5em !important;
  }
}
p {
  color: #333;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color:#f9f9f9
}
.national-summary-section {
  font-size: 20px;
  color: #333;
}
.table-simple-summary {
  ul, ol {
    margin-left: 1.5em;
    list-style-type: disc !important;
    font-size: 12px;

    li {
      list-style-type: disc !important;
    }

  }
}
.ast-header-data {
  td, th {
    text-align: center !important;
    vertical-align: middle !important;

    div {
      padding: 5px;
      display: block;
      align-items: center !important;
      justify-content: center !important;

      &.as-value {
        div {
          padding: 5px;
        }
      }
    }
  }
  td.overall-values {
    div.as-value div {
      padding: 15px;
    }
  }
}
