.national-summary-section{
  font-size: 20px;
}
.table-simple-summary {
  ul, ol {
    margin-left: 1.5em;
    list-style-type: disc !important;
    font-size: 12px;

    li {
      list-style-type: disc !important;
    }

  }
}
