.regional-descriptors {
  li span, td span {
    &.as-value-0 { background-color: #eee !important; }     // not completed
    &.as-value-1 { background-color: #a2b971 !important; }  // very good
    &.as-value-2 { background-color: #d4dfbc !important; }  // good
    //&.as-value-3 { background-color: #ffeeae !important; }  // partial
    &.as-value-3 { background-color: #c74040 !important; }  // not reported
    &.as-value-4 { background-color: #ffb6b6 !important; }  // poor
    //&.as-value-4 { background-color: #ffcbc1 !important; }  // poor
    &.as-value-5 { background-color: #ff6d6d !important; }  // very poor
    &.as-value-6 { background-color: #b8d1e0 !important; }  // not clear
    &.as-value-7 { background-color: #fff !important; }     // not relevant

    &.empty-colorbox {
      width: 10px;
      height: 10px;
      margin-right: 2px;
      display: inline-flex;
      align-items: center;
    }
  }

  .fixed-table-inner {
    margin-left: 140px !important;
    border-left: 1px solid #DDD !important;

    table {
      margin-left: 170px;
    }
  }
  .inner {
    border-left: 1px solid #DDD !important;
    margin-left: 140px !important;

    .table-regional-desc {
      margin-left: 170px;
    }
  }

  th.first-header {
    width: 140px !important;
  }

  td.sub-header {
    background-color: rgb(239, 239, 239);
    border-right: 4px solid #DDD;
    font-weight: bold;
    min-width: 170px !important;
    max-width: 170px !important;
    //position: relative;
    position: absolute;
    margin-left: -170px;

    .fix-row {
      position: absolute;
      top: 1px;
      right: 3px;
    }

    span {
      padding-right: 10px;
      display: block;
    }

    input {
      display: block;
    }
  }

  .top-scroll {
    margin-left: 137px !important;
  }
}

.collapse.in {
  display: block;
}

.field>span {
  max-height: 150px;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
