@import "bootstrap/variables.less";
@import "variables.less";

// Report page
.report-page-view {
  .report-section {
    margin-top: 2rem;
    padding: 0.6rem 0;
    position: relative;

    .simplify-form {
      float: right;
      position: absolute;
      left: 100%;
      margin-top: -1.2em;
      margin-left: -12em;

      label {
        position: relative;
        top: -0.5em;
      }
    }

    .overflow-table {
      position: relative;
      margin-bottom: 1rem;
      background-color: #EFEFEF;
      border: 1px solid #ddd;

      .fixed-scroll {
        position: fixed !important;
        bottom: 0 !important;
        left: 0;
        right: 0;
        padding: 10px 26px;
        background-color: #0071b3;
        z-index: 9;

        .fa-table {
          display: block;
        }
      }

      .fa-table {
        color: #fff;
        font-size: 22px;
        position: absolute;
        top: 8px;
        display: none;
      }

      .scroll-wrapper {
        position: absolute;
        bottom: 0;
        width: 100%;
      }

      .top-scroll {
        overflow-x: auto;
        margin-left: 202px;
        background: white;
        border-left: 4px solid #DDD;
        div {
          height: 1px;
          // margin: 0 1%;
        }
      }

      .inner,
      .fixed-table-inner {
        overflow-x: auto;
        overflow-y: visible;
        // margin-left: 14.4em;
        margin-left: 202px;
        background: white;
        border-left: 4px solid #DDD;
      }

      .fixed-table-wrapper.sticky-table {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 0 24px;
        overflow-x: auto;
        z-index: 999;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

        .fixed-table-inner{
          border: 1px solid #ddd;
        }
      }

      .fixed-table-wrapper {
        th {
          left: 24px !important;
        }
      }

      table.table-report,
      table.fixed-table {
        font-size: 80%;
        table-layout: inherit;
        margin-bottom: 0;
        border: 0;
        border-collapse: initial;

        tr {
          &:last-child th {
            border-bottom: 0;
          }

          &.n_Criteria .td-content {
            font-weight: bolder;
          }

          &.f_ges th {
            background-color: #f4b183;
          }
          &.f_gesdetermination th {
            background-color: #d6dce5;
          }
          &.f_element th {
            background-color: #bdd7ee;
          }
          &.f_criteria th {
            background-color: #cccc00;
          }
          &.f_criteriastatus th {
            background-color: #ffe699;
          }
          &.f_elementstatus th {
            background-color: #bdd7ee;
          }
          &.f_overallstatus th {
            background-color: #f4b183;
          }

          th {
            background: #EFEFEF;
            vertical-align: top;
            // width: 18em;
            width: 202px;
            overflow: hidden;
            position: absolute;
            left: 0;
            text-align: right;
            border: 0;
            border-bottom: 1px solid #ddd;

            .fix-row {
              position: relative;
              top: 0.3em;
              margin-left: 0.8em;
            }
          }

          td {
            min-width: 3rem;
            border-top: none;
            border-left: none;
            &.merged {
              text-align: center;
            }
            &.endgroup {
              border-right: 4px solid #CCC;
            }
            > div {
              max-width: 50rem;
            }
            ul {
              min-width: 16rem;
              margin: 0 0 0 -1rem !important;
              &.cell-listing  {
                // display: flex;
                // max-height: 30rem;
                // flex-direction: column;
                // flex-wrap: wrap;
                li {
                  display: block !important;
                  padding-left: 1rem;
                  max-width: 30rem;
                  &::before {
                    content: '▪';
                  }
                }
              }
            }
          }
        }

        .td-scrolled {
          position: absolute;
          padding-left: 7px;
        }

        .td-relative {
          position: relative;

          .td-text-scrolled {
            left: auto !important;
            right: 10px;
          }
        }

        .tr-text span {
          display: inline-block;
        }

        .read-more-btn {
          padding: 1px 5px;
          border-radius: 4px;
          border: 1px solid #808080;
          cursor: pointer;
          margin: 0.5em 0;
          display: none;
        }

        .read-more-btn:hover {
          background-color: #fff;
        }

        .read-more-wrapper {
          .active .text-trans {
            display: none;
          }

          .short-intro,
          .read-more-btn {
            display: block !important;
          }
        }
      }
    }
  }

  #read-more-modal {
    .modal-dialog {
      overflow-y: initial;
    }

    .modal-body {
      height: 400px;
      overflow-y: auto;
    }

    .modal-content-wrapper {
      .short-intro {
        display: none !important;
      }
      .active .text-trans {
        display: block !important;
      }
    }
  }

  .back-to-art {
    margin-bottom: 1em;
    display: inline-block;
  }

  #download-report-data-form {
    margin-bottom: 2em;
  }

}
