@import "bootstrap/variables.less";
@import "variables.less";

// Report page
.report-page-view {
  .report-section {
    margin-top: 2rem;
    padding: 0.6rem 0;
    position: relative;

    .simplify-form {
      float: right;
      position: absolute;
      left: 100%;
      margin-top: -1.2em;
      margin-left: -12em;

      label {
        position: relative;
        top: -0.5em;
      }
    }


    .overflow-table {
      position: relative;
      margin-bottom: 1rem;
      background-color: #EFEFEF;
      border: 1px solid #ddd;

      .fixed-scroll {
        position: fixed !important;
        bottom: 0 !important;
        left: 0;
        right: 0;
        padding: 10px 26px;
        background-color: #0071b3;
        z-index: 9;

        .fa-table {
          display: block;
        }
      }

      .fa-table {
        color: #fff;
        font-size: 22px;
        position: absolute;
        top: 8px;
        display: none;
      }

      .scroll-wrapper {
        //position: absolute;
        bottom: 0;
        width: 100%;
      }

      .top-scroll {
        overflow-x: auto;
        margin-left: 212px;
        background: white;
        border-left: 4px solid #DDD;
        div {
          height: 1px;
          // margin: 0 1%;
        }
      }

      .inner,
      .fixed-table-inner {
        margin-bottom: -1px;
        overflow-x: auto;
        overflow-y: visible;
        // margin-left: 14.4em;
        margin-left: 212px;
        background: white;
        border-left: 4px solid #DDD;
      }

      .fixed-table-wrapper.sticky-table {
        max-height: 50%;
        position: fixed;
        top: 0;
        left: 2px;
        right: 0;
        padding: 0 24px;
        overflow-x: auto;
        overflow-y: overlay;
        z-index: 999;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

        button.reset-pins {
          display: block;
        }
        //.fixed-table-inner{
        //  border: 1px solid #ddd;
        //}
      }

      .fixed-table-wrapper {
        button.reset-pins {
          display: none;
          font-size: 14px;
          padding-left: 4px;
          padding-top: 0px;
          padding-bottom: 0px;
          padding-right: 4px;
          position: fixed;
          z-index: inherit;
          left: 1px;
        }
        th {
          left: 24px !important;
        }
      }

      table.table-report,
      table.fixed-table {
        font-size: 80%;
        table-layout: inherit;
        margin-bottom: 0;
        border: 0;
        border-collapse: initial;

        tr {
          &:last-child th {
            border-bottom: 0;
          }

          &.n_Criteria .td-content {
            font-weight: bolder;
          }

          &.f_Art9_criteria th {
            background-color: #cccc00;
          }
          &.f_Art9_elementstatus th {
            background-color: #bdd7ee;
          }
          &.f_Art9_criteriastatus th {
            background-color: #ffe699;
          }

          &.f_Art8_ges th, &.f_Art9_ges th, &.f_Art10_ges th {
            background-color: rgb(244, 177, 131);
          }

          &.f_Art8_gesdetermination th {
            background-color: #d6dce5;
          }

          &.f_Art9_gesdetermination th {
            background-color: rgb(214, 220, 229);
            background: linear-gradient(90deg, rgba(244,177,131,1) 6px, rgba(214, 220, 229,1) 6px);
          }

          &.f_Art8_element th {
            background: rgb(189,215,238);
            background: linear-gradient(90deg, rgba(244,177,131,1) 6px, rgba(189,215,238,1) 6px);
          }
          &.f_Art8_criteria th {
            background: rgb(244,177,131);
            background: linear-gradient(90deg, rgba(244,177,131,1) 6px, rgba(189,215,238,1) 6px, rgba(189,215,238,1) 12px, rgba(255,230,153,1) 12px, rgba(255,230,153,1) 18px, rgba(204,204,0,1) 18px);
          }
          &.f_Art8_criteriastatus th {
            background: rgb(244,177,131);
            background: linear-gradient(90deg, rgba(244,177,131,1) 6px, rgba(189,215,238,1) 6px, rgba(189,215,238,1) 12px, rgb(255, 230, 153) 6px);
          }
          &.f_Art8_elementstatus th {
            background: rgb(244,177,131);
            background: linear-gradient(90deg, rgba(244,177,131,1) 6px, rgba(189,215,238,1) 6px);
          }
          &.f_Art8_overallstatus th, &.f_Art9_overallstatus th {
            background-color: #f4b183;
          }

          &.f_Art10_target th {
            background: rgb(244,177,131);
          }

          &.f_Art10_progressassessment th {
            background: rgb(189,215,238);
            background: linear-gradient(90deg, rgba(244,177,131,1) 6px, rgba(189,215,238,1) 6px);
          }

          th {
            &.summary {
              min-width: 10rem;
            }

            background: #EFEFEF;
            vertical-align: top;
            // width: 18em;
            width: 212px;
            overflow: hidden;
            position: absolute;
            left: 0;
            text-align: right;
            border: 0;
            border-bottom: 1px solid #ddd;
            padding: 6px 6px 6px 6px;

            div {
              // margin-top: -5px;
              // white-space: nowrap;
              input.fix-row {
                // position: relative;
                // top: 0.3em;
                display: inline-block;
                margin-left: 0.6em;
              }
            }
          }
          td {
            &.summary {
              min-width: 10rem;

              &.column-header {
                background-color: #efefef;
                font-weight: bold;
              }

              ul.cell-listing li {
                max-width: inherit;
              }

            }

            min-width: 3rem;
            border-top: none;
            border-left: none;
            padding: 6px;
            // &.merged {}
            &.endgroup {
              &_0 {
                border-right: 10px solid #DCDCDB;
              }
              &_1 {
                border-right: 5px solid #DCDCDB;
              }
              &_2 {
                border-right: 3px solid #DCDCDB;
              }
              &_3 {
                border-right: 2px solid #DCDCDB;
              }
            }
            > div {
              max-width: 50rem;
            }
            ul {
              min-width: 16rem;
              margin: 0 0 0 -1rem !important;
              &.cell-listing  {
                // display: flex;
                // max-height: 30rem;
                // flex-direction: column;
                // flex-wrap: wrap;
                li {
                  display: block !important;
                  padding-left: 1rem;
                  max-width: 30rem;
                  &::before {
                    content: '▪';
                  }
                }
              }
            }
          }
        }

        .td-scrolled {
          position: absolute;
          padding-left: 7px;
        }

        .td-relative {
          position: relative;

          .td-text-scrolled {
            left: auto !important;
            right: 10px;
          }
        }

        .tr-text span {
          display: inline-block;
        }

        .read-more-btn {
          padding: 1px 5px;
          border-radius: 4px;
          border: 1px solid #808080;
          cursor: pointer;
          margin: 0.5em 0;
          display: none;
        }

        .read-more-btn:hover {
          background-color: #fff;
        }

        .read-more-wrapper {
          .active .text-trans {
            display: none;
          }

          .short-intro,
          .read-more-btn {
            display: block !important;
          }
        }
      }
    }
  }

  #read-more-modal {
    .modal-dialog {
      overflow-y: initial;
    }

    .modal-body {
      height: 400px;
      overflow-y: auto;
    }

    .modal-content-wrapper {
      .short-intro {
        display: none !important;
      }
      .active .text-trans {
        display: block !important;
      }
    }
  }

  .back-to-art {
    margin-bottom: 1em;
    display: inline-block;
  }

  #download-report-data-form {
    margin-bottom: 2em;
  }

}

// National summary
.national-summary-section {
  &.report-page-view .report-section {
    margin-top: initial;
    padding: initial;
  }
  p {
      color: #333 !important;
  }
  h3 {
    //font-size: 26px;
    font-size: 1.8em;
  }

  h4 {
    //font-size: 23px;
    font-size: 1.6em;
  }

  h5 {
    //font-size: 20px;
    font-size: 1.4em;
  }

  h6 {
    //font-size: 17px;
    font-size: 1.2em;
  }

  .nat-sum-descriptor-level-assessments,
  .nat-sum-summary-assessment {
    .overall-values {
      width: 25% !important;
    }
    .ast-header-data {
      padding: 0px !important;

      h6 {
        margin-left: 1em;
      }

      table.assessment-data-table {
        margin-top: initial !important;

        th {
          width: initial;
          vertical-align: middle;
          padding: 5px;
        }
        div.gescomp.as-value {
          width: initial;
          height: 2em;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  .nat-sum-assessment-areas {
    margin-top: 1em;
  }
}

.national-summary-cover {
  text-align: right;

  .primary-title {
    font-size: 3.2em;
    font-weight: bold;
    margin-bottom: 1em;
  }

  .secondary-title {
    font-size: 3.2em;
    font-weight: bold;
  }

  .country-name {
    font-size: 2.8em;
    font-weight: bold;
    margin-top: 1em;
  }

  .modified-date {
    font-size: 2em;
  }

  .process-status {
    font-size: 2em;
    font-weight: bold;
  }

  .page-splitter {
    margin-top: 80em;
  }

  .disclaimer-authors {
    margin-top: 65em;
    text-align: left;
  }

  .logos {
    text-align: center;
    margin-top: 1em;
  }
}
