@import './bootstrap/variables.less';
@import 'variables.less';

.wise-search-form-container dl {
  display: flex;
  flex-flow: row wrap;
}

.wise-search-form-container {
  position: relative;
  opacity: 0;
}

#wise-search-form-container-preloader,
#wise-search-form-preloader {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
}

#wise-search-form-top {
  margin-bottom: 5rem;
}

.wise-search-form-container,
#wise-search-form {
  opacity: 0;

  .subform {
    margin-top: 0rem;

    h3#article-id {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.2em 1rem;
      border-bottom: 2px solid #52616f;
      margin: 0px;
      font-size: 18px;
      font-weight: 500;

      .article-id-country {
        font-size: 24px;
      }
    }

    #mru-select-prev-next-wrapper {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      background-color: #eee;
    }
  }

  table.listing {
    width: 100%;

    tr:nth-child(even) {
      background-color: #eee;
    }

    tr:nth-child(even) {
      th {
        background-color: white;
      }
    }

    th,
    td {
      min-width: 10rem;
      padding: 0.5em;

      &.fixed-position {
        position: absolute;
        width: 15rem;
        border-right: 2px solid #aaa;
        margin-left: -15.1rem;
        color: #333;
      }
    }

    &.table-report {
      margin-bottom: 0;
      margin-left: 15rem;
    }
  }

  .pagination-text {
    display: inline-block;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 14px;
    font-weight: 500;

    & > span {
      color: #444;
      font-weight: 800;
    }

    &.bottom {
      padding: 0.2rem 0.8rem;
      margin: 0;
    }

    .pagination-input {
      display: inline-block;
      max-width: 50px;
      height: auto;
      padding: 0px 6px;
      border: 1px solid rgb(204, 204, 204);
      margin-right: 5px;
      margin-left: 5px;
    }

    .pagination-result {
      display: inline-block;
      padding: 0px 8px;
      border: 1px solid rgb(204, 204, 204);
      background-color: white;
      cursor: pointer;
      line-height: 22px;
      text-decoration: underline;
    }
  }

  .panel-heading {
    padding: 10px 15px;
  }

  .panel-title > a,
  .panel-title > small,
  .panel-title > .small,
  .panel-title > small > a,
  .panel-title > .small > a {
    color: inherit;
  }

  // .panel-heading .accordion-toggle:after,
  // .panel-heading .accordion-toggle.accordion-after:after {
  //   content: '\e259';
  //   font-family: @icon-font-family;
  //   -moz-transition: content 0.8s;
  //   -webkit-transition: content 0.8s;
  //   transition: content 0.8s;
  // }

  // .panel-heading .accordion-toggle:after {
  //   color: grey;
  //   content: '\e258';
  //   float: right;
  //   font-family: @icon-font-family;
  //   font-weight: 700;
  //   -moz-transition: content 0.8s;
  //   -webkit-transition: content 0.8s;
  //   transition: content 0.8s;
  // }

  .btn-default {
    padding: 1px 6px !important;
    border-color: #29a2d9;
    background-color: #004b7f;
    color: white !important;
    font-size: 10px;
  }

  .btn {
    display: inline-block;
    padding: 6px 12px;
    border-color: #cbcbcb;
    margin-bottom: 0;
    border-radius: 4px;
    color: #3a3a3a;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
  }

  .panel-group {
    margin-bottom: 10px;
  }

  dl {
    display: flex;
    overflow: hidden;
    flex-flow: row wrap;
  }

  dt {
    width: 30%;
    border-bottom: 1px dotted #ccc;
    margin-top: 0.4rem;
    clear: left;
    float: left;
    font-weight: 500;
  }

  dd {
    overflow: auto;
    width: 100%;
    max-width: 70%;
    max-height: 200px;
    padding: 0.4rem;
    padding-left: 0.6rem;
    margin-top: 0.4rem;
    background-color: #eee;
    float: left;

    // span {
    //   white-space: pre-line;
    // }
  }

  .tab-content {
    padding-top: 10px;
  }

  .field {
    // border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    .horizontal {
      font-size: 14px;

      a {
        font-size: 14px;
      }
    }

    .horizontal:hover {
      cursor: pointer;
    }

    &.error {
      border: inherit;
      background-color: transparent;
    }

    // .option:nth-child(even) {
    //   background-color: @checkbox-other-color;
    // }
  }

  [data-fieldname='form.widgets.page'] {
    border-bottom: none;
  }
}

.option {
  display: block;
  width: 100%;
  // padding: 0 0.6em;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);

  input[type='checkbox'] {
    display: none;
  }

  input[type='checkbox'] {
    position: relative;
    top: 2px;
    display: inline-block;
    padding: @checkboxes-radius*2;
    border: 1px solid #cdcece;
    margin-left: 2px;
    -webkit-appearance: none;
    background-color: #fafafa;
    border-radius: @checkboxes-radius;

    &:active,
    &:checked:active {
      box-shadow:
        0 1px 2px rgba(0, 0, 0, 0.05),
        inset 0px 1px 3px rgba(0, 0, 0, 0.1);
    }

    &:checked {
      border: 1px solid #adb8c0;
      background-color: #e9ecee;
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
      -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
      color: #99a1a7;

      &:after {
        position: absolute;
        top: 0px;
        left: 1px;
        color: #337ab7;
        content: '\2714';
        font-size: 13px;
        line-height: 12px;
      }
    }
  }

  label {
    display: inline-block;
    overflow: hidden;
    max-width: 80%;
    margin-bottom: 0;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
  }
}

.controls {
  // display: block;
  // width: 100%;
  // padding-left: 5px;
  // border: none;

  .label {
    display: inline-block;
    padding: 0 10px;
    color: black;
    font-size: 12px;
    font-weight: 500;
  }

  a {
    .label {
      color: black;

      &:hover {
        color: #069;
        cursor: pointer;
      }
    }

    &:hover {
      color: white;
    }
  }

  .apply-filters {
    display: none;
    width: 80px;
    padding: 0.2rem 0.5rem !important;
    margin-bottom: 1em;
    font-size: 11px;

    span {
      font-weight: 500;
    }
  }

  .ui-autocomplete {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
    margin-top: 0.5rem;

    .search-icon {
      position: relative;
      display: inline-block;
      margin-right: 5px;

      &:after {
        content: '\f002';
        font: normal normal normal 14px/1 FontAwesome;
      }
    }

    .ui-autocomplete-input {
      display: inline-block;
      width: 100%;
      height: auto;
      padding: 5px;
      box-shadow: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      height: 30px;
    }

    .clear-btn {
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer;

      &:active {
        transform: rotate(30deg);
      }

      &:after {
        padding: 3px;
        content: '\e014';
        font-family: @icon-font-family;
        font-size: 12px;
      }
    }
  }
}

.controls {
  > span {
    font-size: 12px;
  }

  .search-span {
    position: relative;
    flex: 1;
  }
}

.field {
  .noresults {
    padding-left: 5px;
  }

  & > span {
    position: relative;
    display: block;
    max-height: 195px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  label.horizontal {
    padding-left: 0;

    &:after {
      content: none;
    }

    span.required span:after {
      content: none;
    }

    &.collapsed {
      border: 1px solid @dark-theme-color;
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.wise-search-form-container,
#wise-search-form {
  ul.topnav li {
    a {
      padding: 6px;
    }
  }

  ul.topnav li:first-child {
    a {
      > span:nth-child(2) {
        white-space: nowrap;
      }
    }
  }

  #marine-unit-nav {
    height: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    clear: both;
    float: left;
  }

  div#item-title-wrapper {
    display: inline-block;
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
  }

  .reported-date {
    padding: 0.2rem 1rem;
    color: #777;
    font-size: smaller;
    text-align: center;
  }

  #form-data-primary {
    margin-top: 2rem;
  }

  #marine-widget-top {
    padding: 0.2rem 1rem;

    #form-buttons-prev-top {
      position: relative;
      float: left;
    }

    #form-buttons-next-top {
      margin-left: 2px;
    }

    #marine-unit-trigger {
      .text-trigger {
        border: none;
        text-decoration: underline;
      }
    }

    .widget {
      display: block;
      width: 100%;
      margin: 0;

      .select2-container {
        .select2-chosen {
          text-shadow: 2px 1px 1px #ccc;
        }

        .select2-choice {
          padding-top: 8px;
          padding-bottom: 8px;
          margin-bottom: -4px;
        }
      }
    }

    .field {
      border: none;
      margin: 0 auto;

      > h4 {
        display: inline-block;
        margin-top: 5px;
        margin-right: 0.5em;
        margin-bottom: 2px;
        font-size: 1em;
        font-weight: 500;
      }
    }
  }
}

.item-subform {
  .double-scroll {
    overflow: auto;
    padding: 0px !important;
  }
}

.extra-details {
  padding-top: 0.7rem;

  .extra-details-section {
    overflow: auto;

    .section-title {
      display: inline-block;
      margin-right: 1.5rem;
      font-weight: 500;
    }
  }

  .extra-details-section:not(:first-child) {
    padding-top: 1.5rem;
  }

  .extra-details-select {
    width: auto;
    min-width: 50%;
  }

  &.notselect {
    table.listing {
      margin-bottom: 2rem;
    }
  }
}

.label {
  color: #555;

  span {
    display: inline;
  }
}

#wise-search-form-container .hidden {
  display: none !important;
}

.wise-search-form-container div.formControls,
#wise-search-form div.formControls {
  position: relative;
  margin-left: 0;

  input {
    margin: 2px;
  }
}

#wise-search-form div.formControls {
  [name='form.buttons.next'] {
    position: absolute;
    right: 0;
  }
}

.form-buttons-next-row {
  display: inline-block;

  .label {
    padding: 0;
  }

  .form-buttons-next {
    background-color: #29a2d9;
    color: white;

    &:hover {
      background-color: #0071b3;
      color: white;
    }
  }
}

.form-buttons-prev-row {
  display: inline-block;

  .label {
    padding: 0;
  }

  .form-buttons-prev {
    background-color: #29a2d9;
    color: white;

    &:hover {
      background-color: #0071b3;
      color: white;
    }
  }
}

.prev-next-row {
  padding: 0.2rem 1rem;

  > span {
    display: block;
  }

  &.prev-next-row-bottom {
    background-color: white;
  }
}

@media (min-width: @screen-md-max) and (max-width: @screen-lg-min) {
  .wise-search-form-container > ul.topnav li,
  #wise-search-form > ul.topnav li {
    width: 30%;
  }

  #marine-widget-top {
    max-width: 60%;
  }
}

//tablet
// @media (max-width: @screen-md-max) {
//   .side-section {
//     overflow-y: auto;
//   }

//   .wise-search-form-container > ul.topnav,
//   #wise-search-form > ul.topnav {
//     padding-top: 10px;

//     li {
//       width: 100%;
//       padding-bottom: 0;
//       margin-bottom: 2px;
//       border-bottom-left-radius: 0;
//       border-bottom-right-radius: 0;
//       border-top-left-radius: 0px;
//       border-top-right-radius: 0px;
//     }
//   }

//   #wise-search-form dd {
//     max-width: 100%;
//     max-height: auto;
//     padding-right: 1rem;
//     padding-left: 1rem;
//   }

//   #marine-widget-top {
//     display: block;

//     #form-buttons-prev-top {
//       width: auto !important;
//       margin-right: 2px;
//     }

//     .select-article {
//       .field {
//         display: block;
//       }
//     }
//   }
// }

// TABLET
@media (max-width: @screen-md-min) {
  #form-buttons-next-top {
    /*position: relative !important;*/
    margin-left: 0 !important;
  }

  #marine-widget-top {
    max-width: 50%;

    .select-article {
      clear: none;
      float: none;

      .field {
        text-align: left !important;
      }

      .select2-choice {
        margin-bottom: -8px !important;
      }
    }
  }

  .toggle-sidebar {
    margin-bottom: 20px;
  }
}

@media (max-width: @screen-sm-min) {
  .wise-search-form-container,
  #wise-search-form {
    dt {
      border-bottom: none;
    }

    dd {
      margin-bottom: 1.5rem;
    }
  }

  #marine-widget-top {
    .select-article {
      width: 100% !important;
      clear: both;
      float: left;

      .field {
        width: 100%;
        text-align: left !important;

        .widget {
          display: block !important;
          width: 50%;
          padding-bottom: 2px;
          margin-left: 0 !important;
          clear: both;
        }
      }
    }
  }

  .prev-next-row {
    clear: both;
  }

  ul {
    &.nav {
      li {
        a {
          overflow: inherit !important;
          text-overflow: none !important;
          white-space: inherit !important;
        }
      }
    }
  }

  .extra-details {
    padding-top: 0;

    h4 {
      padding-top: 0;
    }

    .extra-details-section {
      margin-top: 0;
    }
  }
}

.clear-break {
  overflow: hidden;
  clear: both;
}

.pagination-prev {
  &:before {
    content: '\f104';
    font: normal normal normal 16px/1 FontAwesome;
  }
}

.pagination-next {
  &:after {
    content: '\f105';
    font: normal normal normal 16px/1 FontAwesome;
  }
}

.btn-xs,
.btn-group-xs > .btn {
  padding: 1px 5px;
  border-radius: 3px;
  font-size: 12px;
  line-height: 1.5;
}

#ajax-spinner-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.label {
  display: inline-block;
  padding: 0.8em 0.7em;
  border-radius: 0.25em;
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}

// .wise-search-form-container,
// #wise-search-form,
// .wise-search-form-container {
//   /* opacity: 1; */
// }

.msfd-search-wrapper {
  // margin-right: -15px;
  // margin-left: -15px;

  .msfd-filters-on-top {
    // display: flex;
    // flex-direction: column-reverse;
    color: #3d5265;

    .formControls {
      position: absolute;
      right: 0;
      bottom: -80px;
      box-shadow: none;
      background: none;
      border: 0;
    }

    // .wise-search-form-container .field {
    //   margin: 1em 0;
    // }

    // .msfd-start-link {
    //   margin: 0;
    // }

    // .col-md-9.col-xs-12,
    // .col-md-3.col-xs-12 {
    //   width: 100% !important;
    // }

    .article-select {
      label {
        font-size: 14px;
        display: block;
      }
    }

    .form-right-side {
      display: flex;
      gap: 1rem;
    }

    .side-section .subform {
      display: flex;
      gap: 1rem;

      .wrapped-content {
        position: absolute;
        bottom: auto !important;
        min-width: 350px;
        max-width: 400px;
        padding: 1em;
        border: none;
        border-bottom: 0.5px solid #4c677f;
        margin-top: 3px;
        background-color: #fff;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
      }

      .wrapped-content.open {
        z-index: 99 !important;
      }

      .panel-title {
        font-weight: normal;
        padding: 0.5em 1em;
        font-size: 16px;
        position: relative;
        margin: 0;
        display: block !important;

        &:after {
          content: '\f107' !important;
          font: normal normal normal 16px/1 FontAwesome;
        }
      }

      .panel-title.open {
        z-index: 999 !important;
        box-shadow:
          0 5px 0 #fff,
          0 0 4px rgba(0, 0, 0, 0.25);
      }

      .panel-default {
        position: relative;
        user-select: auto;
        width: auto;
        max-height: 200px;
        min-height: 60px;
        display: block;
        overflow: auto;
        margin-top: 0.5em;
      }

      .option {
        border: none;
      }

      .option label {
        max-width: 90%;
      }

      .option .label {
        // max-width: 30em;
        // min-width: 17em;
        // text-align: left;
        padding: 0.5em;
      }

      > .field {
        border: none;
      }

      // .field > span {
      //   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      // }

      // .field > span.controls {
      //   z-index: 99999 !important;
      //   box-shadow:
      //     0 5px 0 #fff,
      //     0 0 4px rgba(0, 0, 0, 0.25);
      //   color: #007b6c;
      //   font-weight: 700;
      //   background: white;
      // }
      // .field > span.collapse.panel.panel-default {
      //   // height: 180px;
      //   // max-width: 300px;
      //   // border-left: 1px solid rgba(0, 0, 0, 0.1);
      //   // border-right: 1px solid rgba(0, 0, 0, 0.1);
      //   bottom: auto !important;
      //   min-width: 350px;
      //   max-width: 400px;
      //   padding: 0 1em 0 1em;
      //   border: none;
      //   border-bottom: 0.5px solid #4c677f;
      //   // margin-top: -6px;
      //   background-color: #fff;
      //   box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
      // }
    }
  }
}

// .msfd-search-wrapper .col-md-3,
// .msfd-search-wrapper .col-md-9 {
//   padding-right: 15px;
//   padding-left: 15px;
//   float: left;
// }

// @media only screen and (min-width: 992px) {
//   .msfd-search-wrapper .col-md-3 {
//     width: 25% !important;
//   }

//   .msfd-search-wrapper .col-md-9 {
//     width: 75% !important;
//   }
// }

// .msfd-search-wrapper .col-xs-12 {
//   width: 100%;
// }

.wise-search-form-container .panel-heading .accordion-toggle:after,
#wise-search-form .panel-heading .accordion-toggle:after,
#marine-unit-trigger .text-trigger:after {
  content: '\f107' !important;
  font: normal normal normal 16px/1 FontAwesome;
}

#wise-search-form .panel-heading .accordion-toggle.accordion-after:after {
  font-size: 25px;
}

.controls .ui-autocomplete .clear-btn:after {
  content: '\f00d';
  font: normal normal normal 14px/1 FontAwesome;
}

dd {
  margin-left: 0;
}

.wise-search-form-container .btn,
#wise-search-form .btn {
  border-width: 1px;
}

.wise-search-form-container .field {
  margin: 1.5em 0;
  position: relative;
}

#wise-search-form .field {
  padding-bottom: 1em;
  margin: 1em 0;
}

// .wise-search-form-container .field .horizontal,
// #wise-search-form .field,
// .article-select label,
// .wise-search-form-container .field .horizontal a,
// #wise-search-form .field .horizontal a {
//   max-width: 100%;
//   margin-bottom: 6px;
//   font-size: 16px;
//   font-weight: 500;
// }

// .article-select {
//   padding-bottom: 1em;
//   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
// }

.select2-container {
  display: inline !important;
}

// .controls .ui-autocomplete .search-span:hover {
//   background-color: transparent !important;
// }

.subform > .field {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.form-right-side .subform > .field {
  border-bottom: none !important;
}

.ui-helper-hidden-accessible {
  display: none;
}

table {
  width: 100%;
  max-width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}

table > tbody > tr > td,
table > tfoot > tr > td {
  border: 1px solid #e5e5e5;
}

#wise-search-form table.listing th {
  background-color: #dfdfdf !important;
  font-weight: 500 !important;
  text-align: left !important;
}

.tab-panel .listing {
  font-size: 16px;
}
