@import "./bootstrap/variables.less";

#marine-unit-trigger {
  display: inline-block;
  border-spacing: 2rem;
  max-width: 100%;

  &:hover {
    cursor: pointer;
  }

  a {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    text-shadow: 2px 1px 1px #ccc;
    font-size: 1.5em;
    text-decoration: none;
    color: #444;
    font-weight: bold;
    position: relative;
    display: block;
    line-height: 2.5rem;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2px;
    padding-bottom: 5px;
  }

  .arrow-left-container {

    width: 10%;
    display: block;
    position: absolute;
    top:0;
    left: 0;
    height: 100%;

    .arrow-left {
      width: auto;
      display: inline-block;
      position: absolute;
      margin-right: 10px;

      left: 0;

      &:after {
        content: "\f053";
        font-family: FontAwesome;
        font-weight: normal;
        color: #0071b3;
        position: absolute;
        top: 50%;
        left: 0;
      }
    }

  }

  .text-trigger {
    display: inline-block;
    font-size: 1em;
    text-decoration: none;
    padding: 0.2em 0.5em;
    border: 1px solid #ddd;
    font-weight: bold;
    color: rgb(51, 51, 51);
  }

  .text-trigger-icon {
    font-size: 60%;
    margin-top: 5px;
    display: block;
    float: right;
    margin-left: 5px;
  }

  .arrow-right-container {
    width: 10%;
    display: table-cell;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;

    .arrow-right {
      width: auto;
      display: inline-block;
      position: absolute;
      left: 3px;

      &:after {
        content: "\f053";
        font-family: FontAwesome;
        font-weight: normal;
        color: #0071b3;
        position: absolute;
        top: 50%;
        left: 0;
        transform: rotate(180deg);
      }
    }

  }

}

.select2-top-override {
    &.select2-container{
      width: 100% !important;
      max-width: 100% !important;
      border: none;
      font-size: 1.5em;
      font-weight: bold;
      margin-right: 20px;


      & > a {
        border: none;

        &:hover {
          b:after {
            top: 25% !important;
          }
        }
      }

      .select2-choice {
        display:none !important;

        font-size: 1.5em;
        padding-left: 0;

        .select2-chosen {
          margin-right: 0;
        }

        .select2-arrow {
          width: 20px;
          display: block;
          position: relative;
          margin-left: 50%;
          transform: translate3d(-50%, 0,0);
          height: 2rem;

          b {
            color: #0071b3;
            background: none;
            padding: 0;
            margin: 0 auto;
            position: relative;

            &:after {
              content: "\f107";
              font-family: FontAwesome;
              font-size: 2.5rem;
              font-weight: 100;
              margin-top: 0;
              width: 100%;
              display: block;
              position:absolute;
            }
          }
        }

      }

    }


}

.select2-top-override-dropdown {
  .select2-results {
    li {
      font-size: 1.4rem;
      text-overflow: ellipsis;
      line-height: 1.5em;
      min-height: 2.5em;
      overflow: hidden;
      display: flex;
      align-items: center;
      &:first-child {
         border-top: 1px solid #dce4ec;
      }

      .select2-match {

      }
    }
    .select2-result-label {
      //white-space: nowrap;
    }
  }

}

@media (max-width: @screen-md-min){

  .select2-top-override {
    &.select2-container{
      margin-right: 0px;

      .select2-choice {
        font-size: 1em;
        padding-left: 0;
       /* border-bottom: 1px solid #eee;*/

        .select2-arrow {
          width: 20px;
          margin-right: 10px;

          b {
            background: none !important;
          }
        }

      }
    }
  }

  #marine-unit-trigger .text-trigger {
    word-break: break-all;
  }

  .select2-top-override-dropdown {

    .select2-results {


      li {
        font-size: 1em;
      }
    }

  }



}

@media screen and (max-width: @screen-sm-max) {
  #marine-unit-trigger {

  }
}

