@import 'bootstrap/variables.less';
@import 'variables.less';

// toggle switch, code from here: https://codepen.io/aanjulena/pen/ZLZjzV
// <button type="button" class="btn btn-lg btn-toggle"
//           data-toggle="button" aria-pressed="false" autocomplete="off">
//   <div class="handle"></div>
// </button>

@toggle-default-size: 1.5rem;
@toggle-default-label-width: 4rem;
@toggle-default-font-size: 0.75rem;

.btn-toggle {
  top: 50%;
  transform: translateY(-50%);
}
// Mixin for Switch Colors
// Variables: @color, @bg, @active-bg
// @btn-default-bg
.toggle-color(@color: @btn-default-color; @bg: #CCC; @active-bg: @brand-primary;) {
  background: @bg;
  color: @color;

  &:before,
  &:after {
    color: @color;
  }

  &.active {
    background-color: @active-bg;
  }
}

// Mixin for Default Switch Styles
// Variables: @size, @margin, @color, @bg, @active-bg, @font-size
.toggle-mixin(@size: @toggle-default-size; @margin: @toggle-default-label-width; @font-size: @toggle-default-font-size;) {
  position: relative;
  width: @size * 2;
  height: @size;
  padding: 0;
  border: none;
  // color: @color;
  // background: @bg;
  margin: 0 @margin;
  border-radius: @size;

  &:focus,
  &.focus {
    &,
    &.active {
      outline: none;
    }
  }

  &:before,
  &:after {
    position: absolute;
    bottom: 0;
    width: @margin;
    // color: @color;
    font-size: @font-size;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: @size;
    text-align: center;
    text-transform: uppercase;
    transition: opacity 0.25s;
  }

  &:before {
    left: -@margin;
    content: 'Off';
  }

  &:after {
    right: -@margin;
    content: 'On';
    opacity: 0.5;
  }

  > .handle {
    position: absolute;
    top: (@size * 0.25) / 2;
    left: (@size * 0.25) / 2;
    width: @size * 0.75;
    height: @size * 0.75;
    background: #fff;
    border-radius: @size * 0.75;
    transition: left 0.25s;
  }

  &.active {
    transition: background-color 0.25s;

    > .handle {
      left: @size + ((@size * 0.25) / 2);
      transition: left 0.25s;
    }

    &:before {
      opacity: 0.5;
    }

    &:after {
      opacity: 1;
    }
  }

  &.btn-sm {
    &:before,
    &:after {
      left: @size * 0.275;
      width: @size * 1.55;
      color: #fff;
      letter-spacing: 0.75px;
      line-height: @size - 2px;
    }

    &:before {
      text-align: right;
    }

    &:after {
      opacity: 0;
      text-align: left;
    }

    &.active {
      &:before {
        opacity: 0;
      }

      &:after {
        opacity: 1;
      }
    }
  }

  &.btn-xs {
    &:before,
    &:after {
      display: none;
    }
  }
}

// Apply Mixin to different sizes & colors
.btn-toggle {
  .toggle-mixin;
  .toggle-color;

  &.btn-lg {
    .toggle-mixin(@size: 2.5rem; @font-size: 1rem; @margin: 5rem;);
  }

  &.btn-sm {
    .toggle-mixin(@font-size: 0.55rem; @margin: 0.5rem;);
  }

  &.btn-xs {
    .toggle-mixin(@size:1rem;@margin:0;);
  }

  &.btn-secondary {
    .toggle-color(@active-bg:@grey-theme-color);
  }
}
