@import "./bootstrap/variables.less";
@import "variables.less";

#mainform-tabs,
#tabs-wrapper {
  .tab-content {
    padding-top: 10px;
  }

  & ul {
    list-style-type: none !important;
    display: flex;
    padding-left: 0;
    justify-content: flex-start;

    &.topnav {
      border-bottom: 2px solid #0071b3;

      li {
        flex-basis: 100%;
        display: flex;

        a {
          flex: 1;

          .tab-title {
            font-weight: 800;
            font-size: 1.5rem;
            display: block;
          }

          .tab-subtitle {
            font-size: 1.1rem;
            line-height: 1em;
            padding: 0.4rem 0;
            display: block;
          }
        }
      }
    }

    &.nav:not(.topnav) {
      border-bottom: 1px solid #ddd;
      li {
        a {
          padding: 0.8em 0.5em;
        }
      }
    }

    li {
      background-color: #eee;
      text-align: center;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      margin: 0;
      align-items: center;

      a {
        display: block;
        color: inherit;
        font-size: 14px;
      }
      &:hover {
        background-color: #006699;
        a {
          color: white;
        }
      }
    }

    li.nav-item.active {
      background-color: #006699;
      a {
        color: white;
        font-weight: 600;
      }
    }

    li:not(:last-child) {
      margin-right: 5px;
    }
  }

  & > ul.topnav li.tab-active,
  ul.topnav li.tab-active {
    background: @main-dark-blue;
    a {
      color: white;
    }
  }
}

.tab-content {
  padding-top: 10px;
}

.article-select {
  margin-top: 2rem;
}

.collapse {
  display: none;
}
.collapse.in {
  display: block;
}

.visible-xs {
  clear: both;
  display: none;
}

@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
}

.tab-content>.tab-pane {
  display: none;
}
.tab-content>.active {
  display: block;
}
.fade.in {
  opacity: 1;
}
.fade {
  opacity: 0;
  transition: opacity .15s linear;
}


.articles-wrapper {
  margin: 1.5em -20px !important;
  display: flex;
  flex-wrap: wrap;

  .article-box {
    padding: 20px 20px;
    height: 310px;
    color: #002d54;

    .article-box-wrapper {
      padding: 1.5em;
      background-color: #59d3ff;
      height: 100%;
      position: relative;
    }

    .article-box-header {
      min-height: 85px;

      .tab-subtitle {
        font-size: 18px;
        font-family: "PoppinsB";
        margin-top: 0;
        margin-bottom: 3px;
        max-width: 250px;
      }

      .tab-title {
        font-size: 18px;
        font-family: "PoppinsL";
      }
    }

    .article-description {
      font-size: 15px;
    }

    .article-link {
      position: absolute;
      bottom: 1.5em;
      right: 1.5em;
      height: 35px;
      z-index: 3;

      &:hover > .link-btn {
        background-color: #fff;
      }

      .link-btn {
        position: relative;
        font-size: 11px;
        background-color: #002d54;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        display: inline-block;
      }

      .link-btn:after,
      .link-btn:before {
        content: "";
        display: block;
        position: absolute;
      }

      .link-btn:before {
        top: 50%;
        right: 1em;
        width: 1em;
        height: 1em;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transform: translate(0, -0.5em) rotate(45deg);
        transform: translate(0, -0.5em) rotate(45deg);
        box-shadow: inset -0.2em 0.2em 0 0 #59d3ff;
        border-radius: 0 0.15em 0 0;
      }

      .link-btn:after {
        top: 50%;
        right: 1em;
        width: 1.3em;
        height: 0.2em;
        -webkit-transform: translate(0, -0.1em);
        transform: translate(0, -0.1em);
        background-color: #59d3ff;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .articles-wrapper .article-box {
    margin: 0 auto;
    width: 100%;
    height: auto;

    .article-box-wrapper {
      padding-bottom: 4.5em;
    }
  }
}

.main-title {
  margin-bottom: 0;
}

.main-subtitle {
  font-size: 22px;
  font-weight: 600;
}

.msfd-start-link {
  color: #111131;
  font-size: 15px;
  font-family: RobotoM;
  margin-bottom: 1em;
  display: inline-block;

  &:before {
    content:"\e095";
    font-family: @icon-font-family;
    display: inline-block;
    transform: scaleX(-1);
    position: relative;
    top: 2px;
  }
  &:hover {
    color: #0077bc;
  }
}
