@import "./bootstrap/variables.less";
@import "variables.less";

#mainform-tabs,
#tabs-wrapper {
  .tab-content {
    padding-top: 10px;
  }

  & ul {
    list-style-type: none !important;
    display: flex;
    padding-left: 0;
    justify-content: flex-start;

    &.topnav {
      border-bottom: 2px solid #0071b3;

      li {
        flex-basis: 100%;
        display: flex;

        a {
          flex: 1;

          .tab-title {
            font-weight: 800;
            font-size: 1.5rem;
            display: block;
          }

          .tab-subtitle {
            font-size: 1.1rem;
            line-height: 1em;
            padding: 0.4rem 0;
            display: block;
          }
        }
      }
    }

    &.nav:not(.topnav) {
      border-bottom: 1px solid #ddd;
      li {
        a {
          padding: 0.8em 0.5em;
        }
      }
    }

    li {
      background-color: #eee;
      text-align: center;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      margin: 0;
      align-items: center;

      a {
        display: block;
        color: inherit;
        font-size: 14px;
      }
      &:hover {
        background-color: #006699;
        a {
          color: white;
        }
      }
    }

    li.nav-item.active {
      background-color: #006699;
      a {
        color: white;
        font-weight: 600;
      }
    }

    li:not(:last-child) {
      margin-right: 5px;
    }
  }

  & > ul.topnav li.tab-active,
  ul.topnav li.tab-active {
    background: @main-dark-blue;
    a {
      color: white;
    }
  }
}

.tab-content {
  padding-top: 10px;
}

.article-select {
  margin-top: 2rem;
}

.collapse {
  display: none;
}
.collapse.in {
  display: block;
}

.visible-xs {
  clear: both;
  display: none;
}

@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
}

.tab-content>.tab-pane {
  display: none;
}
.tab-content>.active {
  display: block;
}
.fade.in {
  opacity: 1;
}
.fade {
  opacity: 0;
  transition: opacity .15s linear;
}


.articles-wrapper {
  margin: 1.5em 1em !important;
  display: flex;
  flex-wrap: wrap;

  .article-box {
    text-align: center;
    padding: 15px 25px;

    .article-box-wrapper {
      padding: 1em;
      border-radius: 7px;
      height: 140px;
      border: 1px solid #eee;
      background-color: #f9f9f9;
      position: relative;
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: #f4f4f4;
        border-color: #d7d9da;
      }
    }

    .article-description {
      padding: 0.5em 0;
      font-size: 14px;
      color: #666;
    }
  }

  .tab-title {
    font-size: 14px;
  }

  .tab-subtitle {
    font-size: 20px;
  }

  .tab-subtitle,
  .tab-title {
    color: #058;
  }

  .article-box:hover .tab-subtitle,
  .article-box:hover .tab-title
  .article-box:hover .article-description {
    color: #002d54 !important;
  }
}

@media screen and (max-width: 1024px) {
  .articles-wrapper .tab-subtitle {
    font-size: 19px;
  }
}

@media screen and (max-width: 768px) {
  .articles-wrapper .article-box {
    margin: 0 auto;
    max-width: 400px;
  }
}

.main-title {
  margin-bottom: 0;
}

.main-subtitle {
  font-size: 22px;
  font-weight: 600;
}

.msfd-start-link {
  color: #111131;
  font-size: 15px;
  font-family: RobotoM;
  margin-bottom: 1em;
  display: inline-block;

  &:before {
    content:"\e095";
    font-family: @icon-font-family;
    display: inline-block;
    transform: scaleX(-1);
    position: relative;
    top: 2px;
  }
  &:hover {
    color: #0077bc;
  }
}
