@import "./bootstrap/variables.less";
@import "variables.less";

#mainform-tabs,
#tabs-wrapper {

  .tab-content {
    padding-top: 10px;
  }

  &  ul {
    &.topnav {
      list-style-type: none !important;
      margin: 0 auto;
      width: 100%;
      overflow: hidden;
      border-bottom: 1px solid #ccc;
      padding-bottom: 1px;
      display: inline-block;

      li {
        background-color: #eeeeee;
        text-align: center;

        list-style-type: none !important;
        display: inline-block;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        float: left;

        margin: 0 auto;
        padding-bottom: 99999px;
        margin-bottom: -99999px;

        transition: background-color 0.5s ease-in;
        -webkit-transition: background-color 0.5 ease-out;
        -moz-transition: background-color 0.5s ease-out;
        -o-transition: background-color 0.5s ease-out;

        a {
          white-space: normal;
          overflow: hidden;
          text-decoration: none;
          text-overflow: ellipsis;
          word-wrap: break-word;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;

          &:hover {
            color: white;
          }

          &:focus {
            background: @dark-theme-color;
            color: white;
          }

          >span {
            display: block;
            white-space: normal;
          }

          > span:first-child {
            font-weight: 800;
            font-size: 1.3rem;
          }

          > span:nth-child(2){
            font-size: 1.2rem;
            line-height: 1em;
          }
        }

        &:hover {
          background-color: #006699;
          border-right: none;
          color:white;
          cursor: pointer;

          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          transition: background-color 0.5s ease-in;
          -webkit-transition: background-color 0.5 ease-in;
          -moz-transition: background-color 0.5s ease-in;
          -o-transition: background-color 0.5s ease-in;

          a {
            margin: 0 auto;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: white;
          }
        }

        &.active {
          background-color: #337ab7;

          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;

          &:hover {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
          }

          a {
            background-color: transparent;
            border-left: none;
            border-right: none;
            color: white;
            border-top: none;
            font-weight: 700;

            &:hover {
              color: white;
              background-color: transparent;
              border-left: none;
              border-right: none;
              border-top: none;
            }
          }
        }

        a:hover {
          background-color: transparent;
          color: white;
        }

      }
    }

    &.nav:not(.topnav) {
      list-style-type: none !important;
      display: inline-block;

      overflow: hidden;
      margin-left: 0;
      width: 100%;

      li {
        text-align: center;
        list-style: none;
        margin-bottom: 0;
        background-color: #eeeeee;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        a {
          border: none;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &:hover {
          background-color: #006699;
          border-right: none;
          color:white;

          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          transition: background-color 0.5s ease-in;
          -webkit-transition: background-color 0.5 ease-in;
          -moz-transition: background-color 0.5s ease-in;
          -o-transition: background-color 0.5s ease-in;

          a {
            margin: 0 auto;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        &.active {
          background-color: #337ab7;

          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;

          &:hover {
            background-color: #337ab7;

            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
          }

          a {
            background-color: transparent;
            border-left: none;
            border-right: none;
            color: white;
            border-top: none;
            font-weight: 700;

            &:hover {
              color: white;
              background-color: transparent;
              border-left: none;
              border-right: none;
              border-top: none;
            }
          }
        }

        a:hover {
          background-color: transparent;
          color: white;
        }
      }
    }

  }

  & > ul.topnav li.tab-active,
  ul.topnav li.tab-active {

    background: #337ab7;

    a {
      color: white;
    }
  }

}

.tab-content {
  padding-top: 10px;
}

#mobile-select-article {
  margin-top: 2rem;
}
