td.translatable  {
  background-clip: padding-box;
  padding: 0px !important;

  .w-t {    // wrapper for translations
    width: 100%;
    height: 100%;
    
    .tr-text {
      display: block;
      padding: 6px 6px 6px 8px;
            
      &.active {
        display: block;
        min-width: 10rem;
        max-width: 50rem;
      }
      &.short {
        max-height: 50em;
        overflow: hidden;
      }
      &.short:after {
        content: "\f0da";
        font: normal normal normal 14px/1 FontAwesome;
        color: #DDD;
        transform: rotate(45deg);
        position: absolute;
        margin: 0 0.6em;
      }    
    }

    .lang-toolbar {
      // position: absolute;
      width: 4px;
      height: 10px;
      padding: 4px;
      float: left;
      border-bottom-right-radius: 6px;

      &.blue {
        background-color: #d3f3f9;
      }
      &.green {
        background-color: #dff1c3;
      }

      button {
        display: inline-block;
        float: left;
        margin-left: 3px
      }

      // buttons styling
      .fa {
        font-size: initial;
        line-height: 18px;
      }
      .lang-orig {
        &.active {
          background-color: #91d4e0;
        }
        margin-right: 20px;
      }
      .lang-transl {
        &.active {
          background-color: #b4c8a0;
        }
      }
      .editTransl {}
    }
  }
}

#edit-translation {
  .modal-translate-section {
    border-bottom: solid 1px #CCC;
    padding-bottom: 1em;
  }
  .modal-content {
    padding: 1em;
  }
}
