.translatable  {
  background-clip: padding-box;

  &.blue {
    border-left: 4px solid #d3f3f9 !important;
  }
  &.green {
    border-left: 4px solid #dff1c3 !important;
  }

  .w-t {    // wrapper for translations
    // display: flex;
    // flex-direction: column;
    width: 100%;
    height: 100%;

    .tr-text {
      display: block;
      // flex-grow: 1;    // grow as big as possible

      .tr {
        display: none;

        &.active {
          display: block;
          min-width: 10em;
          max-width: 28em;
        }
      }
    }

    .lang-footer {
      flex-basis: 2em;
      display: block;
      padding-top: 0.3em;

      .dropdown {
        display: inline-block;

        .dropdown-menu button {
          width: 10em;
        }

        li {
          list-style-type: none;
          text-align: center;
        }
      }

      .btn-translate {}
      .btn-translate-orig {
        &.active {
          background-color: #91d4e0;
        }
      }
      .btn-translate-transl {
        &.active {
          background-color: #b4c8a0;
        }
      }
    }

  }
}

#edit-translation {
  .modal-translate-section {
    border-bottom: solid 1px #CCC;
    padding-bottom: 1em;
  }
  .modal-content {
    padding: 1em;
  }
}
