.table-comp-translate {
  td {
    position: relative;
    // padding-bottom: 2.5em !important;

    .absolute {
      position: absolute;
      bottom: 0.5em;
      right: 0.5em;
    }
  }
}

.translatable  {
  background-clip: padding-box;

  &.blue {
    background-color: #d3f3f9;
  }
  &.green {
    background-color: #e6f7ca;
  }

  .dropdown {
    display: inline-block;
    float: right;

    .dropdown-menu button {
      width: 10em;
    }

    li {
      list-style-type: none;
      text-align: center;
    }
  }

  .translate-content {
    display: block;
  }

  .translate-container {
    display: none;

    &.active {
      display: block;
      min-width: 12em;
      max-width: 22em;
    }
  }

  .translate-language{
    display: block;

    .btn-translate {
      float: right;
    }

    .btn-translate-orig {
      &.active {
        background-color: #91d4e0;
      }
    }

    .btn-translate-transl {
      &.active {
        background-color: #b4c8a0;
      }
    }

  }
}
#edit-translation {
  .modal-translate-section {
    border-bottom: solid 1px #CCC;
    padding-bottom: 1em;
  }
  .modal-content {
    padding: 1em;
  }
}
